---
import Cta from '../../components/home/Cta-ContactShort.astro';
import SlotHero from '../../components/home/Slot-PageHero.astro';
import SectionHeadImg from "../../components/home/slot-img.astro";
import SectionHeadSecImg from "../../components/home/slot-img-rev.astro";
import Process from '../../components/home/Section-Process.astro';
import FirstProcess from '../../components/home/Process-Sml.astro';
import BlogPost from "../../components/home/Slot-BlogPost-Single.astro";
import Layout from '../../layouts/Layout.astro';
import Pricing from '../../components/pricing/PricingTable-Wordpress.astro';

---
<style>
  #contain { max-width: 1920px; }
</style>

<Layout
  description="Wordpress Websites developed and maintained on the Gold Coast, Australia."
  title="Wordpress Website Design · Aidxn"
>

    <SlotHero>
      <Fragment slot="smltitle">
        Gold Coast Wordpress Design Expert
      </Fragment>
      <Fragment slot="title">
        Wordpress Web Design
      </Fragment>
      <Fragment slot="desc">
        Trust over 6 years experience improving conversion rates in a range of industries. All while offering a fresh take on web design and digital marketing in general.
      </Fragment>
    </SlotHero>

    <Pricing />



      
    <div id="contain" class="mx-auto flex flex-col lg:flex-row">
      <div class="w-full lg:w-1/2">
        <a href="#">  
          <BlogPost>
            <Fragment slot="smltitle">
              Case Study
            </Fragment>
            <Fragment slot="title">
              Effective Real Estate Web Design & Listing Management Solution, Powered by Wordpress and Rex.
            </Fragment>
            <Fragment slot="desc">
              Improving search engine ranking, pageload speed and website UX before moving onto scaling CPC ads.
            </Fragment>
          </BlogPost>
        </a>
      </div>
      <div class="w-full lg:w-1/2">
        <a href="https://blog.aidxn.com/posts/website-pageload-optimisation/">  
          <BlogPost>
            <Fragment slot="smltitle">
              Case Study
            </Fragment>
            <Fragment slot="title">
              5.2 seconds to 1.2 seconds. Wordpress Web Performance Optimisation, with Heavy Media Content.
            </Fragment>
            <Fragment slot="desc">
              Improving Google Search average CPC and CPA through website performance optimisations. Taking budget further.
            </Fragment>
          </BlogPost>
        </a>
      </div>
    </div>




    <FirstProcess />

          <SectionHeadImg>
            <Fragment slot="smltitle">
              10+ Years Experience with Wordpress
            </Fragment>
            <Fragment slot="title">
              Custom WordPress Powered Solutions.
            </Fragment>
            <Fragment slot="desc">
              Creating a custom WordPress website is like tailoring a suit. No two businesses are the same, and their websites shouldn't be either. That's where I come in. With years of experience in web design and WordPress expertise, I'll build a website that perfectly aligns with your brand, goals, and audience. We'll kick off with a thorough consultation, diving deep into your business's personality and your vision. Then, I'll use my design magic to create a unique and stunning website. From responsive design to user-friendly interfaces, your custom WordPress website will be a digital masterpiece that not only looks fantastic but also performs brilliantly.
            </Fragment>
            <Fragment slot="cover">
              <img
                src="/works/ax-sqr-estem.webp"
                class="w-full"
                alt="Custom Wordpress website design in the health care industry. Wordpress and Shopify ecommerce website design."
              />
            </Fragment>
          </SectionHeadImg>

          <SectionHeadSecImg>
            <Fragment slot="smltitle">
              Custom WordPress Websites That Convert
            </Fragment>
            <Fragment slot="title">
              WordPress, tailored to your needs.
            </Fragment>
            <Fragment slot="desc">
              In the world of web design, one size does not fit all. I understand the unique needs and goals of each client, which is why my WordPress web design services are entirely tailored to your specific requirements. From e-commerce websites that drive sales to captivating blogs that engage your audience, I've got you covered. We'll work closely together to ensure your WordPress website reflects your brand identity and delivers on its objectives. With custom features, personalized aesthetics, and robust functionality, your website will stand out from the crowd.
            </Fragment>
            <Fragment slot="cover">
              <img
                src="/works/ax-sqr-drts.webp"
                class="w-full"
                alt="Custom Wordpress Gold Coast Website design for a plastic surgeon business. Lead generation website design for high value sales. Website design done directly on the Gold Coast with in person revisions."
              />
            </Fragment>
          </SectionHeadSecImg>

          <SectionHeadImg>
            <Fragment slot="smltitle">
              WordPress Maintenance and Ongoing Support
            </Fragment>
            <Fragment slot="title">
              Keeping your site running smoothly.
            </Fragment>
            <Fragment slot="desc">
              A beautiful website is not a one-time endeavor; it's an ongoing commitment. I offer WordPress maintenance and support services to ensure your site is always in peak condition. From regular updates and security checks to troubleshooting any issues that may arise, I'm here to provide you with peace of mind. Your website will remain secure, up-to-date, and fully functional, so you can focus on what you do best – growing your business and delighting your audience.
            </Fragment>
            <Fragment slot="cover">
              <img
                src="/works/ax-sqr-cpc-results.webp"
                class="w-full"
                alt="Optimisation of Wordpress websites to quickly improve conversion rate and lower ad costs and improve SEO. All without needing to completely redesign a website. Saving your business time and money. Ongoing support and maintanence offered."
              />
            </Fragment>
          </SectionHeadImg>


  
  <Process />
  <Cta />

</Layout>
