---
const stats = [
  {
    name: 'Years',
    value: '10',
  },
  {
    name: 'Projects',
    value: '120+',
  },
  {
    name: 'Awards',
    value: "4",
  },
  {
    name: 'Expert',
    value: '1',
  },
];
---


<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 flex justify-center items-center">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <div class="flex flex-col">
        
        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12">
            <div class="space-y-6">
              <h3 class="text-3xl sm:text-4xl font-medium tracking-tight">All-Inclusive Custom Web Design</h3>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                Velocity comes jampacked with everything a high-conversion website needs, putting your business miles ahead from the start.
                All packages include graphic design, image compression and optimisation, keyword research, competitor research, and in-person revisions 
                with your single point of contact. Working fast and highly reliable. No more getting lost in agency volleyball.
              </p>
            </div>
          </div>

          <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            {
              stats.map((stat) => (
                <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                  <dt class="text-base">{stat.name}</dt>
                  <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
                </div>
              ))
            }
          </dl>

      </div>
    </div>
    <div class="w-full flex flex-col items-center justify-center gap-y-8">
      <img
        class="mx-auto h-auto w-full rounded-3xl"
        width="576"
        height="864"
        src="/public/works/br-mac-render-med.webp"
        alt="Top rated Gold Coast website designers - web design at competitive rates."
      />
      
    </div>
  </div>
</section>
