---
import Cta from '../../components/home/Cta-ContactShort.astro';
import SlotHero from '../../components/home/Slot-PageHero.astro';
import Pricing from '../../components/pricing/PricingSingle-FbAds.astro';
import BlogPost from '../../components/home/Slot-BlogPost-Single.astro';
import SectionHeadImg from "../../components/home/slot-img.astro";
import SectionHeadSecImg from "../../components/home/slot-img-rev.astro";
import Process from '../../components/home/Section-Process.astro';
import FirstProcess from '../../components/home/Process-Sml.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout
  description="Facebook ad management directly on the Gold Coast with in-person revision and strategising. The digital marketing management that aims to spend less without sacrificing results. We create hundreds of new creatives every single month, so it's time to flick that agency that's leaving your business on read. Expert digital marketing management on the Gold Coast."
  title="Facebook Ad Management · Aidxn Web Design"
>

<SlotHero>
  <Fragment slot="smltitle">
    Facebook and Instagram Ad Management
  </Fragment>
  <Fragment slot="title">
    Marketing management for Facebook and Instagram.
  </Fragment>
  <Fragment slot="desc">
    Cost per mille (CPM) marketing can be a game-changer for your Facebook and Instagram advertising efforts. I excel in creating high-performing ad campaigns that optimize your CPM. Whether it's brand awareness, website traffic, or lead generation, I know how to create cost-effective campaigns that achieve your goals. Let me show you how to get the most bang for your buck with CPM marketing.
  </Fragment>
</SlotHero>

<Pricing />

<div class="max-w-7xl mx-auto flex flex-col lg:flex-row">
  <div class="w-full lg:w-1/2">
    <a href="https://blog.aidxn.com/posts/multi-modal-marketing/">  
      <BlogPost>
        <Fragment slot="smltitle">
          Case Study
        </Fragment>
        <Fragment slot="title">
          Multi-modal marketing campaign design.
        </Fragment>
        <Fragment slot="desc">
          We used Google Search and Display as part of a massive multi-modal marketing strategy across the Gold Coast.
        </Fragment>
      </BlogPost>
    </a>
  </div>
  <div class="w-full lg:w-1/2">
    <a href="https://blog.aidxn.com/posts/website-pageload-optimisation/">  
      <BlogPost>
        <Fragment slot="smltitle">
          Case Study
        </Fragment>
        <Fragment slot="title">
          Wordpress pageload from 5.2s to 1.2s.
        </Fragment>
        <Fragment slot="desc">
          Improving Google Search average CPC and CPA through website performance optimisations. Taking budget further.
        </Fragment>
      </BlogPost>
    </a>
  </div>
</div>


<FirstProcess />

<SectionHeadImg>
  <Fragment slot="smltitle">
    Social Platform Marketing and Ad Creative Design
  </Fragment>
  <Fragment slot="title">
    Ad creative designs for Facebook and Instagram.
  </Fragment>
  <Fragment slot="desc">
    When it comes to social media marketing, I've got you covered with my expertise in Facebook and Instagram advertising. These platforms have transformed into powerful advertising channels. I specialize in creating targeted campaigns that resonate with your audience, drive conversions, and boost brand visibility. Let's harness the incredible reach of Facebook and Instagram to make your brand a standout success.
  </Fragment>
  <Fragment slot="cover">
    <img
              src="/works/br-fb.webp"
              class="w-full"
              alt="We have designed and managed facebook ad campaigns in a range of industries for over 6 years. With CPM based facebook marketing strategies, we reduce ad cost by working around the pay to win solutions facebook offer to take more of your money. If you're running over $200 a day in Facebook ads then it's worth contacting Aidxn Design to see if your digital marketing strategies are cutting the mustard. We have managed facebook ads in range of industries creating facebook ads for real estate agents, facebook ads for local businesses, and facebook ads for national companies."
            />
  </Fragment>
</SectionHeadImg>

<SectionHeadSecImg>
  <Fragment slot="smltitle">
    Maximizing Your ROI with CPM Marketing
  </Fragment>
  <Fragment slot="title">
    Effective CPM social marketing strategies.
  </Fragment>
  <Fragment slot="desc">
    In a world where Facebook and Instagram are part of the Meta universe, it's essential to have a digital marketing expert who understands this evolving landscape. I specialize in leveraging the Meta platform for your advertising campaigns, ensuring that your brand stays ahead of the curve. Let's tap into the world of Meta and unlock new possibilities for your social media marketing efforts.
  </Fragment>
  <Fragment slot="cover">
    <img
              src="/works/br-bill-render.webp"
              class="w-full"
              alt="Ad design for billboards, buses, and digital marketing such as Facebook and Instagram Ads. We design marketing campaigns that work in the physical and digital space. Get your brand on billboards and digital marketing platforms. Social media marketing design and management for any industry. Managed on the Gold Coast with over 6 years in Facebook Ad Manager experience."
            />
  </Fragment>
</SectionHeadSecImg>

<SectionHeadImg>
  <Fragment slot="smltitle">
    Driving Growth with Instagram and Facebook Marketing
  </Fragment>
  <Fragment slot="title">
    Lead generation with Instagram and Facebook.
  </Fragment>
  <Fragment slot="desc">
    Instagram and Facebook are incredible platforms for your business to flourish, and I'm here to help you navigate the intricate world of social media marketing. I specialize in developing comprehensive strategies that are tailored to these platforms. By leveraging their immense user base and engagement, we can significantly increase brand visibility, customer engagement, and, most importantly, conversions. Let's harness the power of Instagram and Facebook to put your business on the path to success.
  </Fragment>
  <Fragment slot="cover">
    <img
              src="/works/br-mac-render-med.webp"
              class="w-full"
              alt="Digital marketing and website design together in one place. Spend less time and hassle managing your brand. Speak to a single account manager that gets to know your brand and business on a deeper level, so we can help you generate more business from your website and marketing. Facebook ad management with expert strategies that aim to spend less. Low budget facebook ad management strategies directly on the Gold Coast."
            />
  </Fragment>
</SectionHeadImg>

  
  <Process />
  <Cta />

</Layout>
