---
import Cta from '../../components/home/Cta-ContactShort.astro';
import SlotHero from '../../components/home/Slot-PageHero.astro';
import Pricing from '../../components/pricing/PricingSingle-GoogleAds.astro';
import BlogPost from '../../components/home/Slot-BlogPost-Single.astro';
import SectionHeadImg from "../../components/home/slot-img.astro";
import SectionHeadSecImg from "../../components/home/slot-img-rev.astro";
import Process from '../../components/home/Section-Process.astro';

import FirstProcess from '../../components/home/Process-Sml.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout
  description="Google Search is by far the most powerful tool for businesses for lead generation, only if your SEO has been carefully curated over years. Unfortunately even if you've done that, you might just be in a highly competitive industry. Aidxn Design is here to help with daily managed Google Search Ad Management. Expert digital marketing management on the Gold Coast."
  title="Google Search Marketing Management · Aidxn Web Design"
>

    <SlotHero>
      <Fragment slot="smltitle">
        Google Search Ad Management and Optimisation
      </Fragment>
      <Fragment slot="title">
        Google Search marketing management.
      </Fragment>
      <Fragment slot="desc">
        Effective Google Search Ad campaigns begin with strategic keyword selection. Identifying the right keywords to target is crucial for reaching your desired audience. Through thorough research and analysis, I determine the most relevant and valuable keywords for your business. Whether it's long-tail keywords with lower competition or high-volume industry-specific terms, I ensure that your ad campaigns are optimized to attract the audience that matters most.
      </Fragment>
    </SlotHero>

    <Pricing />

    <div class="max-w-7xl mx-auto flex flex-col lg:flex-row">
      <div class="w-full lg:w-1/2">
        <a href="https://blog.aidxn.com/posts/multi-modal-marketing/">  
          <BlogPost>
            <Fragment slot="smltitle">
              Case Study
            </Fragment>
            <Fragment slot="title">
              Multi-modal marketing campaign design.
            </Fragment>
            <Fragment slot="desc">
              We used Google Search and Display as part of a massive multi-modal marketing strategy across the Gold Coast.
            </Fragment>
          </BlogPost>
        </a>
      </div>
      <div class="w-full lg:w-1/2">
        <a href="https://blog.aidxn.com/posts/website-pageload-optimisation/">  
          <BlogPost>
            <Fragment slot="smltitle">
              Case Study
            </Fragment>
            <Fragment slot="title">
              Wordpress pageload from 5.2s to 1.2s.
            </Fragment>
            <Fragment slot="desc">
              Improving Google Search average CPC and CPA through website performance optimisations. Taking budget further.
            </Fragment>
          </BlogPost>
        </a>
      </div>
    </div>


    <FirstProcess />

          <SectionHeadImg>
            <Fragment slot="smltitle">
              Google Search Ad Management Experts
            </Fragment>
            <Fragment slot="title">
              Keyword selection and competitive analysis.
            </Fragment>
            <Fragment slot="desc">
              Effective Google Search Ad campaigns begin with strategic keyword selection. Identifying the right keywords to target is crucial for reaching your desired audience. Through thorough research and analysis, I determine the most relevant and valuable keywords for your business. Whether it's long-tail keywords with lower competition or high-volume industry-specific terms, I ensure that your ad campaigns are optimized to attract the audience that matters most. Understanding your competitors is vital in the world of Google Search Ads. I'll conduct thorough competitive analysis to identify strengths, weaknesses, and opportunities within your niche. Armed with this knowledge, we'll develop strategies to outperform competitors and stay ahead in the digital landscape.
            </Fragment>
            <Fragment slot="cover">
              <img
                        src="/works/cpc-results.webp"
                      />
            </Fragment>
          </SectionHeadImg>

          <SectionHeadSecImg>
            <Fragment slot="smltitle">
              Google Search Ads: Your Key to Digital Success
            </Fragment>
            <Fragment slot="title">
              Daily optimiisation of Google Ads.
            </Fragment>
            <Fragment slot="desc">
              I'm all about data-driven decision-making. By analyzing key metrics, monitoring user behavior, and staying up-to-date with industry trends, I'll adapt and refine your Google Search Ads strategy for ongoing success. Your campaigns will benefit from continuous improvement and optimization. I offer comprehensive monitoring and reporting services, providing you with regular updates on your campaign's performance. Transparency is key, and I'll ensure you have a clear view of how your Google Search Ads are working for your business. By keeping a close eye on the data, we can make real-time adjustments to enhance results.
            </Fragment>
            <Fragment slot="cover">
              <img
                        src="/works/ax-sqr-re-placement.webp"
                      />
            </Fragment>
          </SectionHeadSecImg>

          <SectionHeadImg>
            <Fragment slot="smltitle">
              Google Search Marketing Management
            </Fragment>
            <Fragment slot="title">
              Over $8M in managed marketing spend.
            </Fragment>
            <Fragment slot="desc">
              Clicks are great, but conversions are better. I focus on driving conversions through carefully crafted Google Search Ad campaigns. From compelling ad copy to enticing call-to-action buttons, I create ads that not only capture attention but also lead to action. By optimizing landing pages, tracking user behavior, and fine-tuning ad elements, I ensure that your Google Search Ad campaigns work seamlessly with your website to deliver the results you're looking for. It's not just about attracting traffic – it's about driving actions that impact your bottom line. If we can find you better deals for your marketing budget, we'll let you know instead of just keeping you in the same old boat.
            </Fragment>
            <Fragment slot="cover">
              <img
                        src="/works/br-bus-live.webp"
                      />
            </Fragment>
          </SectionHeadImg>

  
  <Process />
  <Cta />

</Layout>
