---
import Cta from '../../components/home/Cta-ContactShort.astro';
import SlotHero from '../../components/home/Slot-PageHero.astro';
import Pricing from '../../components/pricing/PricingSingle-InteractiveAds.astro';
import BlogPost from '../../components/home/Slot-BlogPost-Single.astro';
import SectionHeadImg from "../../components/home/slot-img.astro";
import SectionHeadSecImg from "../../components/home/slot-img-rev.astro";
import Process from '../../components/home/Section-Process.astro';
import FirstProcess from '../../components/home/Process-Sml.astro';

import Layout from '../../layouts/Layout.astro';
---

<Layout
  description="One of the most under untilised ad tools in the industry, Google Display is the original main platform for CPM marketing before Facebook. Displaying over 98.5% of all internet based ads, Google Display is a digital marketing super force. Perfect digital marketing for smaller businesses with our strategies that use interactive ads to reduce ad spend and improve your ad ranking with Google early. Expert digital marketing management on the Gold Coast."
  title="Interactive Ad Design · Aidxn Web Design"
>

<SlotHero>
<Fragment slot="smltitle">
  Interactive Google Display Ad Design
</Fragment>
<Fragment slot="title">
  Interactive Ad Design.
</Fragment>
<Fragment slot="desc">
  One of the most under untilised ad tools in the industry, Google Display is the original main platform for CPM marketing before Facebook. Displaying over 98.5% of all internet based ads, Google Display is a digital marketing super force. Perfect digital marketing for smaller businesses with our strategies that use interactive ads to reduce ad spend and improve your ad ranking with Google early. Expert digital marketing management on the Gold Coast.
</Fragment>
</SlotHero>

<Pricing />

<div class="max-w-7xl mx-auto">

  <a href="https://blog.aidxn.com/posts/multi-modal-marketing/">  
    <BlogPost>
      <Fragment slot="smltitle">
        Case Study
      </Fragment>
      <Fragment slot="title">
        98.5% of impressions on realestate.com.au with interactive ads.
      </Fragment>
      <Fragment slot="desc">
        We helped a local real estate agency compete strongly against even national real estate conglomorates, thanks to interactive ad designs that gave a perfect ad score, placing their ads on sites that were usually out of their reach.
      </Fragment>
    </BlogPost>
  </a>
  
</div>
</div>

<FirstProcess />

    <SectionHeadImg>
      <Fragment slot="smltitle">
        Display network advertising
      </Fragment>
      <Fragment slot="title">
        Promote your brand all across the internet.
      </Fragment>
      <Fragment slot="desc">
        Looking for top-notch Gold Coast Wordpress design services to boost your online business? Look no further than Aidxn Design! With over six years of experience in optimizing conversion rates for Wordpress stores and funnels, we're your go-to experts for creating stunning and user-friendly e-commerce websites. Our primary focus is on UX design, ensuring that your customers have a seamless and enjoyable shopping experience from start to finish.
      </Fragment>
      <Fragment slot="cover">
        <img
                  src="/works/re-placement.webp"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadImg>

    <SectionHeadSecImg>
      <Fragment slot="smltitle">
        Advertise on common websites
      </Fragment>
      <Fragment slot="title">
        One of the least bothering forms of advertising.
      </Fragment>
      <Fragment slot="desc">
        At Aidxn Design, we understand the unique needs of businesses in the Gold Coast area. Our team of experienced professionals will work closely with you to create a customized Wordpress store that not only looks fantastic but also drives results. Whether you're looking to revamp your existing online store or start from scratch, our Gold Coast Wordpress design services are tailored to meet your specific goals and objectives. We use proven strategies and cutting-edge design techniques to help you stand out in the competitive e-commerce landscape.
      </Fragment>
      <Fragment slot="cover">
        <img
                  src="/works/br-wth.webp"
                  class="w-full"
                  alt="Interactive ad design for Google Display, Facebook and Instagram. We design interactive ads to work across all platforms in a complimenting way. Harnessing the power of algorithm marketing by allowing your closes customers to interact with your ads, pooling them for later remarketing. Increasing your remarketing list numbers will improve ad results across the board, teaching Facebook and Google more and more what your most ideal customer looks like. We have been using and managing digital marketing campaigns for over 6 years and have managed over $8 million in marketing spend. Experts you can trust for Google Display interactive ads and Facebook / Instagram interactive ads."
                />
      </Fragment>
    </SectionHeadSecImg>

    <SectionHeadImg>
      <Fragment slot="smltitle">
        Reach more customers than you ever have
      </Fragment>
      <Fragment slot="title">
        Huge reach potential.
      </Fragment>
      <Fragment slot="desc">
        Don't settle for an average online store when you can have a high-converting, visually appealing Wordpress website designed by Aidxn Design. Contact us today to take your Gold Coast e-commerce business to the next level with our expertise in UX design and conversion rate optimization. Your success is our priority, and we're here to help you achieve it!
      </Fragment>
      <Fragment slot="cover">
        <img
                  src="/works/gwd-interactive-ads.webp"
                  class="w-full"
                  alt="Interactive ad design for Google Display, designed and managed on the Gold Coast by real marketing experts. Generate more business for less with Google Display advertising, one of our most favourite digital marketing strategies as it is underutilised by most industries, meaning much less advertising and keyword competition. Interactive ads for real estate agents on realestate.com.au have shown to have an outstanding impact for our client's marketing. Get your ads on realestate.com.au for less with Aidxn Design and Interactive Ad Design for Google Display."
                />
      </Fragment>
    </SectionHeadImg>
  
  <Process />
  <Cta />
  

</Layout>
