
<section class="my-8 md:my-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">

    <div class="pb-8">
      <div class="w-full gap-4">
        <h3 class="text-3xl font-medium tracking-tight sm:text-4xl">
          All-inclusive website and brand design.
        </h3>
        <p class="text-primary-950/70 dark:text-primary-200/70 text-lg xs:text-xl max-w-6xl my-4">
          From brand strategy, keyword research and graphic design we have you covered. Our websites aim to reach page 1 of Google as soon as possible through performance website code.
        </p>
      </div>
    </div>

    <!-- Perfect Gallery Tailwind Velocity8 - Start -->
    <div class="flex flex-col md:flex-row relative">
        
      <div class="flex flex-1">
          <div class="grid grid-cols-2 gap-8">
            <div>
              <!-- img_01 -->
              <img src='/works/br-mac-render-med.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
            <div>
              <!-- img_02 -->
              <img src='/works/br-bus-live.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
          </div>

      </div>
      <!-- Perfect Gallery Tailwind Velocity8 - End -->
      
  </div>
</section>


