

<section class="my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="">
        <div class="w-full gap-4">
          <h3 class="text-3xl font-medium tracking-tight sm:text-4xl">
            Web design revisions, done face-to-face.
          </h3>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg xs:text-xl max-w-6xl my-4">
            Save time and headaches of back and forth emails with in-person revisions done at our Gold Coast office. 
            Also available over videocall with screenshare to achieve similar ease thanks to our streamlined design system used by over 60 clients.
          </p>
        </div>
      </div>
      
      
    </div>
  </div>
</section>
