
<section class="my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="">
        <div class="w-full gap-4">
          <h3 class="text-3xl font-medium tracking-tight sm:text-4xl">
            High-Performance Web Design
          </h3>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg xs:text-xl max-w-6xl my-4">
            We make sure that your site is running completely optimised to deliver pageloads under a 1 second average. 
            Hosting and CDN Management is included for all web design customers so that we can optimise the whole way through.
          </p>
        </div>
      </div>
      
      
    </div>
  </div>
</section>
