---
const values = [
  [
    {
      ref: '01',
      name: 'Web Design',
      description:
        "Aidxn Design, your trusted partner for web design on the Gold Coast, brings your digital vision to life. Our team of experienced designers understands the unique character of the Gold Coast market and crafts websites that capture the essence of your brand while ensuring seamless functionality. From responsive design for mobile users to eye-catching visuals, we create websites that leave a lasting impression. With our Gold Coast-based web design services, your online presence will not only reflect your brand's identity but also engage your target audience effectively.",
    },
    {
      ref: '02',
      name: 'Graphic Design',
      description:
        "We specialize in graphic design services tailored for the Gold Coast market. Our team of creative experts transforms ideas into compelling visual stories that resonate with your audience. Whether it's branding, logo design, or promotional materials, we understand the aesthetic preferences of Gold Coast businesses and infuse local flair into every design. Our Gold Coast graphic design services ensure that your visual identity sets you apart in this vibrant coastal community.",
    },
  ],
  [
    {
      ref: '03',
      name: 'SEO Optimisation',
      description:
        "Unlock the full potential of your online presence with Aidxn Design's SEO solutions on the Gold Coast. Our SEO experts are well-versed in the local market dynamics, enabling us to optimize your website for search engines effectively. By combining on-page and off-page strategies, we boost your visibility in Gold Coast search results, driving organic traffic and enhancing your brand's authority. With our Gold Coast SEO services, we help you reach the right audience and achieve sustainable growth in this competitive market.",
    },
    {
      ref: '04',
      name: 'Digital Marketing',
      description:
        "Elevate your digital presence with Aidxn Design's digital marketing expertise tailored for Gold Coast businesses. We understand the nuances of this unique market and offer comprehensive digital marketing solutions that align with your objectives. From social media management to pay-per-click advertising, our Gold Coast-focused strategies drive engagement, conversions, and growth. With Aidxn Design's digital marketing services, you can harness the power of the Gold Coast's online landscape to expand your brand's reach and achieve long-term success.",
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">All-Inclusive Web Design and Marketing Management</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
