<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h3 class="text-3xl font-medium tracking-tight sm:text-4xl">Improved on for over 7 years</h3>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base md:text-lg"> 
          Velocity first started with the intention to reduce cost of web development for smaller businesses. To also allow small and medium businesses to validate the cost of a truely effective website. 
          Streamlining the time consuming elements of a great website, from website performance, W3 compliance, secure payment processing and API connection debugging. You know, all the fun stuff.
        </p>
        <div class="flex-col md:flex-row gap-4">
          <a
            href="/pricing"
            class="mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Pricing
          </a>
          <a
            href="/about"
            class="mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            About us
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
