<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<style>
  svg{width:100%;height:100%;perspective:50px}circle{stroke:#26003A;stroke-width:8px;fill:none}.equator{stroke:#a600ff;transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
</style>

<section class="py-8 md:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4">
      <div class="">

        <div class="w-full text-center gap-4">
          <h4 class="text-base lg:text-lg uppercase font-thin tracking-widest">
            Clients using Velocity
          </h4>
        </div>

      </div>

      <div class="grid gap-4 grid-cols-3"> 
        <img
        class="h-16 md:h-24 xl:h-32 w-full px-4"
        width="1280"
        height="640"
        src="/logos/boogie-collective.svg"
        alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
        />

        <img
        class="h-16 md:h-24 xl:h-32 w-full px-4 "
        width="1280"
        height="640"
        src="/logos/immersive-structures.svg"
        alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
        />
        
        <img
        class="h-16 md:h-24 xl:h-32 w-full px-4"
        width="1280"
        height="640"
        src="/logos/snacks.svg"
        alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
        />
      </div>

      <div class="grid gap-4 grid-cols-3">
        <img
        class="h-16 md:h-24 xl:h-32 w-full px-4 "
        width="1280"
        height="640"
        src="/logos/social-dandelion.svg"
        alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
        />
        
        <img
        class="h-16 md:h-24 xl:h-32 w-full px-4"
        width="1280"
        height="640"
        src="/logos/cobra-club.svg"
        alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
        />
        
        <img
        class="h-16 md:h-24 xl:h-32 w-full px-4"
        width="1280"
        height="640"
        src="/logos/brie-hair.svg"
        alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
        />
      </div>
      
    </div>
  </div>
</section>
