<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<style>
  svg{width:100%;height:100%;perspective:50px}circle{stroke:#26003A;stroke-width:8px;fill:none}.equator{stroke:#a600ff;transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
</style>

<section class="py-8 md:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="">
        <div class="w-full gap-4">
          <h3 class="text-3xl font-medium tracking-tight sm:text-4xl">
            Customised in 21 Days
          </h3>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base md:text-lg my-4">
            Offering a more personal format of web design and digital marketing, all Velocity packages 
            include multiple revisions of your website with me in-person, video call available. 
            Completely inclusive web design from content and image optimisation, to keyword and competitor research. 
          </p>
          <a
            href="/contact"
            class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Contact
          </a>
          
          
        </div>
      </div>
      
      
    </div>
  </div>
</section>
