
<section class="my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-center gap-8 sm:gap-10">
        
        <div class="w-full gap-4">
          <h2 class="text-base uppercase font-thin tracking-widest">
            Web3 and Wordpress Web Design
          </h2>
          <h3 class="text-3xl sm:text-4xl font-medium tracking-tight my-6">
            Power your Website with Velocity v9.0
          </h3>
          <p class="text-primary-950/80 dark:text-primary-200/80 text-lg xs:text-xl max-w-6xl">
            Our high-performance website theme and framework, reducing the cost of competing online. Through W3 compliance, A+ / 100+ website performance (GTMetrix / Lighthouse), and web3 technologies. Velocity v9.0 now available, packed with 30+ integrations and 
            and 100+ components. 
          </p>
          
          <div class="">
            <a
              href="/web-design"
              class="mt-8 mr-2 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Web Design
            </a>
            <a
              href="/graphic-design"
              class="mt-8 mr-2 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Graphic Design
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
