
<section class="my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-center gap-8 sm:gap-10">
        
        <div class="w-full gap-4">
          <h2 class="text-base uppercase font-thin tracking-widest">
            Web3 and Wordpress Web Design
          </h2>
          <h3 class="text-3xl sm:text-4xl font-medium tracking-tight my-6">
            Power your Website with Velocity9
          </h3>
          <p class="text-primary-950/80 dark:text-primary-200/80 text-lg xs:text-xl max-w-6xl">
            Power your brand's online prescense with Velocity, our high-performance web3 website theme reducing the cost of 
            competing online by moving to Web3. With version 9.0 now available, Velocity9 is packed with 30+ integrations, 
            from Stripe Payments, Web Animations with GSAP to AlpineJS. Plus 100+ components for cost-effective web development. 
          </p>
          
          <div class="">
            <a
              href="/web-design"
              class="mt-8 mr-2 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Web Design Services
            </a>
            <a
              href="/graphic-design"
              class="mt-8 mr-2 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Graphic Design Services
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
