---
const features = [
  {
    id: 'expertise-1',
    name: 'Modern UI/UX',
    description:
      'Velocity from the ground up is a form of guardrail for keeping your website neat, tidy and user-friendly. With a range of included page layouts and component areas pre-designed, then customised to your brand.',
  },
  {
    id: 'expertise-2',
    name: 'Deeply Responsive',
    description:
      'All Velocity components are developed to be responsive to a minimum of 4 screen sizes, compared to usual development of 2-3.',
  },
  {
    id: 'expertise-3',
    name: 'SEO-Friendly',
    description:
      'Velocity is one of the most high-ranking SEO themes available. Using web-performance and web-standard compliance to get your business seen more.',
  },
  {
    id: 'expertise-4',
    name: 'Affordable Pricing',
    description:
      'With a one-off lifetime license for Velocity and no need for hosting thanks to serverless technology, websites with us work out much cheaper after only 2 years.',
  },
  {
    id: 'expertise-5',
    name: 'Content Management System',
    description:
      'Integrated connection with a powerful CMS for customer information management. All at no extra cost.',
  },
  {
    id: 'expertise-6',
    name: 'Lifetime License & Support',
    description:
      'Velocity is sold with a lifetime license so you can pay once, own forever. Our code is able to be managed by anyone you choose, and we are always available for future work or changes at extremely fair rates.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 id="components" class="text-3xl font-medium tracking-tight sm:text-4xl">Trusted Web Designers</h2>
      <div class="lg:col-span-2">
        <div class="flex flex-col gap-16">
          
          <div class="grid gap-x-4 grid-cols-3">
            <img
            class="h-16 md:h-32 w-full px-4 "
            width="1280"
            height="640"
            src="/logos/ray-white.svg"
            alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
            />
            
            <img
            class="h-16 md:h-32 w-full px-4"
            width="1280"
            height="640"
            src="/logos/estem.svg"
            alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
            />
            
            <img
            class="h-16 md:h-32 w-full px-4"
            width="1280"
            height="640"
            src="/logos/ball-realty.svg"
            alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
            />
          </div>
    
          <div class="grid gap-4 grid-cols-3">
            <img
            class="h-16 md:h-32 w-full px-4 "
            width="1280"
            height="640"
            src="/logos/nw-funding.svg"
            alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
            />
            
            <img
            class="h-16 md:h-32 w-full px-4"
            width="1280"
            height="640"
            src="/logos/boogie-collective.svg"
            alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
            />
            
            <img
            class="h-16 md:h-32 w-full px-4"
            width="1280"
            height="640"
            src="/logos/snacks.svg"
            alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
            />
          </div>
    
          <div class="grid gap-4 grid-cols-3">
            <img
            class="h-16 md:h-32 w-full px-4 "
            width="1280"
            height="640"
            src="/logos/academy.svg"
            alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
            />
            
            <img
            class="h-16 md:h-32 w-full px-4"
            width="1280"
            height="640"
            src="/logos/cobra-club.svg"
            alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
            />
            
            <img
            class="h-16 md:h-32 w-full px-4"
            width="1280"
            height="640"
            src="/logos/tsd.svg"
            alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
            />
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
