<section class="my-36 md:my-44">
    <div class="px-4 sm:px-6 lg:px-8 py-8 my-12 w-fit border rounded-3xl">
        <h4 class="font-medium tracking-tight text-xl lg:text-3xl  my-4">
          Let me roast your funnel.
        </h4>
        <p class="text-lg xs:text-xl max-w-2xl my-4 mb-8">
          Our marketing mean business. I'll offer some free initial web design / branding and marketing changes, to show you some of my strategies.
        </p>

        <form netlify
          action="https://api.web3forms.com/submit"
          method="POST"
          id="cta-form"
          class="needs-validation"
          novalidate>
          <input type="hidden" name="access_key" value="1e0ffadd-2f05-471b-bbc2-36fa32793837" />
          <!-- Create your free access key from https://web3forms.com/ -->
          <!-- key for email - aidenthomasgodbywood@gmail.com -->
          <input type="checkbox" class="hidden" style="display:none" name="botcheck" />
          <div class="flex flex-row gap-4">

            <div class="">
              <label for="brand" class="sr-only">Brand</label><input
                id="brand"
                type="text"
                placeholder="Brand / Website"
                name="brand"
                required
                class="w-full bg-primary-100 px-4 py-3 border-2 placeholder:text-gray-900 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-primary-600 ring-gray-100"
              />
              <div class="empty-feedback text-red-400 text-sm mt-1">
                Please provide your brand name or website.
              </div>
              <div class="invalid-feedback text-red-400 text-sm mt-1">
                Please provide your brand name or website.
              </div>
            </div>

            <div class="">
              <label for="phone" class="sr-only">Phone Number</label><input
                id="phone"
                type="text"
                placeholder="Phone number"
                name="phone"
                required
                class="w-full bg-primary-100 px-4 py-3 border-2 placeholder:text-gray-900 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-primary-600 ring-gray-100"
              />
              <div class="empty-feedback text-red-400 text-sm mt-1">
                Please provide your phone number.
              </div>
              <div class="invalid-feedback text-red-400 text-sm mt-1">
                Please provide a valid phone number.
              </div>
              <input type="hidden" class="sourceLogging" id="hiddenKey02" name="Contacted on Page" data-name="formUrl1" value="">
	            <input type="hidden" class="sourceLogging" id="hiddenKey03" name="Previous Page" data-name="formRef1" value="">
            </div>
            
            
          </div>

          <div class="my-8">
            <button
            class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            type="submit"
          >
            Submit
          </button>
          </div>

          <div id="result" class="mt-3 text-center"></div>

        </form>
      </div>
</section>


<style>
    .invalid-feedback,
    .empty-feedback {
      display: none;
    }
  
    .was-validated :placeholder-shown:invalid ~ .empty-feedback {
      display: block;
    }
  
    .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
      display: block;
    }
  
    .is-invalid,
    .was-validated :invalid {
      border-color: #dc3545;
    }
  </style>
  
  <script is:inline>
    const form = document.getElementById("form");
    const result = document.getElementById("result");
  
    form.addEventListener("submit", function (e) {
      e.preventDefault();
      form.classList.add("was-validated");
      if (!form.checkValidity()) {
        form.querySelectorAll(":invalid")[0].focus();
        return;
      }
      const formData = new FormData(form);
      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);
  
      result.innerHTML = "Sending...";
  
      fetch("https://api.web3forms.com/submit", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        body: json,
      })
        .then(async (response) => {
          let json = await response.json();
          if (response.status == 200) {
            result.classList.add("text-green-500");
            result.innerHTML = json.message;
          } else {
            console.log(response);
            result.classList.add("text-red-500");
            result.innerHTML = json.message;
          }
        })
        .catch((error) => {
          console.log(error);
          result.innerHTML = "Something went wrong!";
        })
        .then(function () {
          form.reset();
          form.classList.remove("was-validated");
          setTimeout(() => {
            result.style.display = "none";
          }, 5000);
        });
    });
  </script>
  

<script> 
	{
		document.getElementById('hiddenKey02').value = location.pathname;
		document.getElementById('hiddenKey03').value = document.referrer;
	}
	</script>