<section class="my-36 md:my-44">
  <div class="mx-auto w-full lg:max-w-7xl px-4 sm:px-6 lg:px-8 text-center">
    <div
      class="border border-primary-900/10 dark:border-primary-300/10 bg-primary-500/10 dark:bg-primary-400/10 flex flex-col items-center gap-8 rounded-3xl px-4 py-16 sm:gap-10"
    >
      <div class="flex flex-col gap-4 sm:gap-6">
        <h4 class="mx-auto max-w-sm text-3xl font-medium tracking-tight sm:text-4xl">
          Got a Question?
        </h4>
        <p class="text-primary-950/80 dark:text-primary-200/80 mx-auto max-w-2xl text-lg xs:text-xl px-4">
          Let me help simplify web design.
        </p>
      </div>
      <a
        href="/contact"
        class="bg-primary-600 dark:bg-primary-400 hover:bg-violet-700 dark:hover:bg-violet-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >
        Contact
      </a>
    </div>
  </div>
</section>
