
<section class="my-32 lg:my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4">
      <div class="">
        
        <div class="w-full text-center">
          <h4 class="text-base lg:text-lg uppercase font-thin tracking-widest">
            Works with the Best
          </h4>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-2 xs:gap-4 lg:gap-8">
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        src="/logos/ray-white.svg"
        alt="Web design on the Gold Coast by Aidxn Design for Ray White designing interactive ads."
        />
        
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        src="/logos/estem.svg"
        alt="Web design on the Gold Coast by Aidxn Design for Estem Clinics improving Wordpress website design and website pageload speed. Also designing digital marketing campaigns."
        />
        
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        src="/logos/ball-realty.svg"
        alt="Web design and digital marketing management on the Gold Coast by Aidxn Design for Ball Realty. Designing marketing creatives, improving Wordpress website conversion rate and reducing ad spend while improving ad lead conversion rate."
        />
      </div>

      <div class="grid gap-4 grid-cols-3">
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        src="/logos/nw-funding.svg"
        alt="Website design for finance businesses on the Gold Coast by Aidxn Design. Using Velocity to build a high-conversion lead generation page with perfect SEO scores."
        />
        
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        src="/logos/boogie-collective.svg"
        alt="Website design for events businesses and service based businesses. Lead generation website design for The Boogie Collective for improving hype and attendance at upcoming events. Website design using Velocity 8 and live."
        />
        
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        src="/logos/snacks.svg"
        alt="Website design for photography businesses on the Gold Coast by Aidxn Design. Improving SEO and pageload performance using Velocity which is vital for photography businesses when creating a photography website."
        />
      </div>

      <div class="grid gap-4 grid-cols-3">
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        src="/logos/academy.svg"
        alt="Website design for selling e-book and online courses on the Gold Coast by Aidxn Design. Improving Wordpress website design and conversion rate for better SEO and reduced ad spend in digital marketing campaigns."
        />
        
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        src="/logos/cobra-club.svg"
        alt="Website design for local clubs on the Gold Coast by Aidxn Design. Using Wordpress to create a managable website for your club or sports team."
        />
        
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        src="/logos/tsd.svg"
        alt="Website design for digital agencies done on the Gold Coast by Aidxn Design. Award winning website designer with over 10 years experience."
        />
      </div>
      
    </div>
  </div>
</section>
