
<section class="my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4">
      <div class="">
        
        <div class="w-full text-center">
          <h4 class="text-base uppercase font-thin tracking-widest">
            Clients
          </h4>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-2 xs:gap-4 lg:gap-8">
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/ray-white-greyed.svg' : '/logos/ray-white.svg'"
        alt="Web design for real estate agents by Aidxn Design for Ray White."
        />
        
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/esteem-greyed.svg' : '/logos/estem.svg'"
        alt="Web design for health clinics by Aidxn Design for Estem Clincs."
        />
        
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/ball-realty-greyed.svg' : '/logos/ball-realty.svg'"
        alt="Web Design for real estate agencies by Aidxn Design for Ball Realty."
        />
      
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/nwfunding-logo-greyed.svg' : '/logos/nw-funding.svg'"
        alt="Web design for financial lenders by Aidxn Design."
        />
        
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/boogie-collective.svg' : '/logos/boogie-collective.svg'"
        alt="Web design for events industry businesses by Aidxn Design."
        />
        
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/snacks-greyed.svg' : '/logos/snacks.svg'"
        alt="Web design for photographers by Aidxn Design"
        />
      
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/academy.svg' : '/logos/academy.svg'"
        alt="Web design for online courses by Aidxn Design."
        />
        
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/cobra-club.svg' : '/logos/cobra-club.svg'"
        alt="Web design for local clubs and sports teams by Aidxn Design"
        />
        
        <img
        class="h-16 md:h-24 lg:h-32 w-full"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/tsd.svg' : '/logos/tsd.svg'"
        alt="Web design for doctors by Aidxn design."
        />
      </div>
      
    </div>
  </div>
</section>
