

<section class="my-24 lg:my-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
  
    <!-- Perfect Gallery Tailwind Velocity8 - Start -->
    <div class="flex flex-col md:flex-row gap-2 relative">
        
      <div class="flex flex-1">
          <div class="grid grid-cols-2 sm:grid-cols-3 gap-2 xs:gap-4">
            <div>
              <!-- img_02 -->
              <img class="object-cover w-full h-full rounded-3xl" src='/works/ax-sqr-drts.webp' alt=''>
            </div>
            <div>
              <!-- img_03 -->
              <img class="object-cover w-full h-full rounded-3xl" src='/works/ax-sqr-snacks.webp' alt=''>
            </div>
            <div>
              <!-- img_04 -->
              <img class="object-cover w-full h-full rounded-3xl" src='/works/ax-sqr-golden.webp' alt=''>
            </div>
            <div>
              <!-- img_05 -->
              <img class="object-cover w-full h-full rounded-3xl" src='/works/ax-sqr-estem.webp' alt=''>
            </div>
            <div>
              <!-- img_04 -->
              <img class="object-cover w-full h-full rounded-3xl" src='/works/ax-sqr-estemshop.webp' alt=''>
            </div>
            <div>
              <!-- img_05 -->
              <img class="object-cover w-full h-full rounded-3xl" src='/works/ax-sqr-boog.webp' alt=''>
            </div>
          </div>

      </div>
       <!-- Perfect Gallery Tailwind Velocity8 - End -->
      
    </div>
  </div>
</section>

