
<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<!-- Velocity8 Large Slider Settings -->
<style>
  svg{width:100%;height:100%;perspective:50px}circle{stroke:#26003A;stroke-width:8px;fill:none}.equator{stroke:#a600ff;transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}

  .carousel-cell {
    margin-right: 15px;
    width: calc(50% - 7.5px);
  }
  @media only screen and (max-width: 1199px) {
    .carousel-cell {
      width: 65%;
    }
  }
  @media only screen and (max-width: 768px) {
    .carousel-cell {
      width: 85%;
    }
  }
  
  .flickity-viewport {
    transition: 0.2s;
  }
</style>

<section class="py-8 md:py-16 lg:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col md:flex-row-reverse items-center gap-8 sm:gap-10">
        <div class="w-5/6 md:w-1/3 items-start">
          
          <div id="animationWrapper" translate="no" transition:name="meridian">
            <svg viewBox="-500 -500 1000 1000" class="w-full">
              <circle r="450"></circle>
              <circle class="equator" r="450"></circle>
              <circle class="meridian" r="450" style="--start:165deg; --end:180deg"></circle>
              <circle class="meridian" r="450" style="--start:150deg; --end:165deg"></circle>
              <circle class="meridian" r="450" style="--start:135deg; --end:150deg"></circle>
              <circle class="meridian" r="450" style="--start:120deg; --end:135deg"></circle>
              <circle class="meridian" r="450" style="--start:105deg; --end:120deg"></circle>
              <circle class="meridian" r="450" style="--start:90deg; --end:105deg"></circle>
              <circle class="meridian" r="450" style="--start:75deg; --end:90deg"></circle>
              <circle class="meridian" r="450" style="--start:60deg; --end:75deg"></circle>
              <circle class="meridian" r="450" style="--start:45deg; --end:60deg"></circle>
              <circle class="meridian" r="450" style="--start:30deg; --end:45deg"></circle>
              <circle class="meridian" r="450" style="--start:15deg; --end:30deg"></circle>
              <circle class="meridian" r="450" style="--start:0deg; --end:15deg"></circle>
            </svg>
          </div>
          
        </div>
        <div class="w-full md:w-2/3 gap-4">
          <h1 class="font-medium tracking-tighter md:tracking-tight text-3xl xs:text-4xl lg:text-5xl xl:text-6xl lg:pr-8">
            Website Design for Service-Based Businesses
          </h1>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base md:text-lg max-w-3xl my-4">
            An all-inclusive, in-person approach to web design. 10+ years experience designing websites, 8 years in graphic design and brand / marketing management.
          </p>
          <a
            href="/velocity"
            class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Velocity
          </a>
          <a
            href="/pricing"
            class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Pricing
          </a>
        </div>
      </div>


      <div class="carousel" data-flickity='{ "contain": true, "freeScroll": true, "pageDots": false, "prevNextButtons": false, "lazyLoad": true, "imagesLoaded": true, "autoPlay": 1800 }'>
        
        <div 
          class="carousel-cell size-vertical rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/billboard-design.webp); background-position: center;">
        </div>

        <div 
          class="carousel-cell rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/velocity-tsd.webp); background-position: center;">
        </div>

        <div 
          class="carousel-cell size-vertical rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/gwd-interactive-ads.webp); background-position: center;">
        </div>

        <div 
          class="carousel-cell size-vertical rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/app-design.webp); background-position: center;">
        </div>
        
        <div class="carousel-cell">
          <img
            class="rounded-3xl"
            width="1280"
            height="640"
            src="/works/web-design.webp"
            alt="Gold Coast web design with Aidxn Design - best results guarenteed"
          />
        </div>

      </div>
    </div>  
  </div>
</section>

<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
