<style>
  /* transition height change */
  .flickity-viewport {
    transition: height 0.2s;
  }
  
  .web-carousel { width: 100%; max-width: 1920px; margin: 0 auto; }
  .web-carousel.is-expanded { width: 100%; }
  
  .carousel-cell {
    width: calc(50% - 15px);
    height: 550px;
    margin-right: 15px;
  }
  @media screen and (max-width: 1980px) {
    .carousel-cell {
      height: 500px;
    }
  }
  @media screen and (max-width: 1680px) {
    .carousel-cell {
      height: 420px;
    }
  }
  @media screen and (max-width: 1480px) {
    .carousel-cell {
      width: calc(66% - 7.5px);
    }
  }
  @media screen and (max-width: 1280px) {
    .carousel-cell {
      height: 380px;
    }
  }
  @media screen and (max-width: 1199px) {
    .carousel-cell {
      width: calc(50% - 7.5px);
    }
  }
  @media screen and (max-width: 980px) {
    .carousel-cell {
      height: 320px;
    }
  }
  @media screen and (max-width: 768px) {
    .carousel-cell {
      width: calc(77.5% - 7.5px);
      max-height: 40vh;
      height: 280px;
    }
  }
</style>




<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<!-- JavaScript -->
<script is:inline src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


<section class="my-28">
  <div id="contain" class="mx-auto w-full">
  
    <!-- Perfect Slider Velocity8 - Start -->
    <div id="border" class="">
        
      
      <div id="slider" class="main-carousel px-4 sm:px-6 lg:px-8">

        <div class="carousel-cell">
          <!-- img_02 -->
          <a href="/web-design/wordpress" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Wordpress Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-drts.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_04 -->
          <a href="/web-design/shopify" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Shopify Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-estemshop.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_02 -->
          <a href="/digital-marketing/interactive-ads" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Interactive Ads
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-interactive.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_02 -->
          <a href="/digital-marketing/google-search-management" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Google Ads
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/cpc-results.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_04 -->
          <a href="/moonshot-plan" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Marketing Management
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-bus.webp' alt=''>
        </div>
        
        <div class="carousel-cell">
          <!-- img_05 -->
          <a href="/web-design/wordpress" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Wordpress Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-estem.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_03 -->
          <a href="/web-design/velocity" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Velocity Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-snacks.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_02 -->
          <a href="/digital-marketing/seo" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Search Engine Optimisation
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-cpc-results.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_04 -->
          <a href="/digital-marketing/video-ads" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Video Ads
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/video-musicians.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_05 -->
          <a href="/web-design/velocity" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Velocity Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-boog.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_04 -->
          <a href="/web-design/velocity" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Velocity Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-golden.webp' alt=''>
        </div>

      </div>

      
       <!-- Perfect Slider Velocity8 - data-flickity='{ "cellAlign": "center", "contain": true, "prevNextButtons": false, "autoPlay": 2400, "groupCells": "85%", "resize": true, "lazyLoad": true, "imagesLoaded": true }' -->
      
    </div>
  </div>
</section>

<script is:inline>
window.onload = (event) => {
  var elem = document.querySelector('.main-carousel');
  var flkty = new Flickity( elem, {
    // options
    cellAlign: 'left',
    contain: true,
    prevNextButtons: false,
    imagesLoaded: true,
    adaptiveHeight: true,
    groupCells: '80%'
  });
};
</script>