
<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<!-- Velocity8 Large Slider Settings -->
<style>
  svg{width:100%;height:100%;perspective:50px}circle{stroke:#26003A;stroke-width:8px;fill:none}.equator{stroke:#a600ff;transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
  #heroArea { max-height: calc(100vh - 75px); min-height: calc(80vh - 75px); display: flex; justify-content: center; align-items: center; padding: 90px 0; }
  #contain { max-width: 1920px; }
</style>

<section id="heroArea" class="">
  <div id="contain" class="mx-auto w-full px-4 sm:px-6 lg:px-8">
    <div class="">
      <div class="flex flex-col lg:flex-row-reverse items-start lg:items-center gap-8 sm:gap-12">
        <div class="w-2/3 sm:w-3/4 md:w-1/4 lg:w-1/3 xl:w-1/2 items-start">
          
          <div id="animationWrapper" translate="no" transition:name="meridian">
            <svg viewBox="-500 -500 1000 1000" class="w-full">
              <circle r="450"></circle>
              <circle class="equator" r="450"></circle>
              <circle class="meridian" r="450" style="--start:165deg; --end:180deg"></circle>
              <circle class="meridian" r="450" style="--start:150deg; --end:165deg"></circle>
              <circle class="meridian" r="450" style="--start:135deg; --end:150deg"></circle>
              <circle class="meridian" r="450" style="--start:120deg; --end:135deg"></circle>
              <circle class="meridian" r="450" style="--start:105deg; --end:120deg"></circle>
              <circle class="meridian" r="450" style="--start:90deg; --end:105deg"></circle>
              <circle class="meridian" r="450" style="--start:75deg; --end:90deg"></circle>
              <circle class="meridian" r="450" style="--start:60deg; --end:75deg"></circle>
              <circle class="meridian" r="450" style="--start:45deg; --end:60deg"></circle>
              <circle class="meridian" r="450" style="--start:30deg; --end:45deg"></circle>
              <circle class="meridian" r="450" style="--start:15deg; --end:30deg"></circle>
              <circle class="meridian" r="450" style="--start:0deg; --end:15deg"></circle>
            </svg>
          </div>
          
        </div>
        <div class="w-full lg:w-2/3 xl:w-1/2 gap-6">
          <h1 class="text-xs md:text-base uppercase font-thin tracking-widest pb-4">
            Conversion Focused Web Design
          </h1>
          <h2 class="font-medium tracking-tighter md:tracking-tight text-4xl sm:text-5xl md:text-6xl xl:text-7xl max-w-5xl xl:max-w-4xl">
            Design and Develop, face-to-face.
          </h2>
          <p class="text-primary-950 dark:text-primary-200 text-lg xs:text-xl max-w-3xl my-4">
            Leader in web design and digital marketing on the Gold Coast. 
            In-person design process to make improving your website and generating more leads, simpler.
          </p>
          
          <a
            href="https://g2ok5807scs.typeform.com/to/tCmzlDza?typeform-source=aidxn.com"
            class="mt-6 mr-2 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Book a Call
          </a>
          <a
          href="https://billing.stripe.com/p/login/5kA4jQdGtb9m8N2fYY"
          class="mt-6 mr-2 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Customer Portal
        </a>

        </div>
      </div>
    </div>
  </div>
</section>

