<style>
/* transition height change */
.flickity-viewport {
  transition: height 0.2s;
}

.main-carousel { width: 100%; max-width: 1920px; margin: 0 auto; }
.main-carousel.is-expanded { width: 100%; }

.carousel-cell {
  width: calc(50% - 15px);
  height: 65vh;
  margin-right: 15px;
}
@media screen and (max-width: 1980px) {
  .carousel-cell {
    height: 650px;
  }
}
@media screen and (max-width: 1680px) {
  .carousel-cell {
    height: 520px;
  }
}
@media screen and (max-width: 1480px) {
  .carousel-cell {
    width: calc(66% - 7.5px);
  }
}
@media screen and (max-width: 1280px) {
  .carousel-cell {
    height: 520px;
  }
}
@media screen and (max-width: 1199px) {
  .carousel-cell {
    width: calc(50% - 7.5px);
  }
}
@media screen and (max-width: 980px) {
  .carousel-cell {
    height: 420px;
  }
}
@media screen and (max-width: 768px) {
  .carousel-cell {
    width: 100%;
    max-height: 55vh;
  }
}
</style>




<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<!-- JavaScript -->
<script is:inline src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


<section class="my-28">
  <div id="contain" class="mx-auto w-full">
  
    <!-- Perfect Slider Velocity8 - Start -->
    <div id="border" class="">
        
      
      <div id="slider" class="main-carousel px-4 sm:px-6 lg:px-8">

        <div class="carousel-cell">
          <!-- img_01 -->
          <a href="/web-design/velocity" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Velocity Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-snacks.webp' alt='Gold Coast web design leaders. Get a custom design website with no plugins and a cheaper running cost thanks to Velocity. Our in-house custom coded website theme to help you generate more leads and sales from your website. We have built over 60 websites using Velocity and it has shown extreme success for improving SEO, reducing PPC marketing costs through reduced CPC, and improved user experience thanks to high-performance load times.'>
        </div>

        <!-- img_02 -->
        <div class="carousel-cell">
          <a href="/digital-marketing/interactive-ads" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Interactive Ads
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-interactive.webp' alt='Interactive Ad Design for Google Display Campaigns. Display your ads on popular websites with Google Display. Daily optimisation by Google Dispaly experts with CPM based marketing campaigns for PPC marketing. Improve your marketing results with Google Display campaigns managed by Aidxn Design on the Gold Coast.'>
        </div>

        <!-- img_03 -->
        <div class="carousel-cell">
          <a href="/web-design/wordpress" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Wordpress Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-drts.webp' alt='Wordpress website design on the Gold Coast with in-person service. Wordpress management for Doctors and the medical industry.'>
        </div>

        <!-- img_04 -->
        <div class="carousel-cell">
          <a href="/digital-marketing/google-search-management" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Google Search Ads
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-cpc-results.webp' alt=''>
        </div>

        <div class="carousel-cell">
          <!-- img_05 -->
          <a href="/web-design/velocity" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Velocity Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-boog.webp' alt='Custom website design for the events industry. Website design for selling tickets online and promoting events and artists. Our highly flexible and performant custom website theme is perfect for building websites fast that cost less. Improve your digital marketing campaign results with a Velocity website that has built in conversion tracking out of the box.'>
        </div>

        <!-- img_06 -->
        <div class="carousel-cell">
          <a href="/moonshot-plan" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Marketing Management
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-bus.webp' alt='Marketing management on the Gold Coast for both physical marketing and digital marketing. Expert marketing improvement with over 10 years experience managing marketing campaigns and over $8 million in managed marketing spend. Get your business on billboards, buses, businesses and sponsorships on the Gold Coast.'>
        </div>
        
        <div class="carousel-cell">
          <!-- img_07 -->
          <a href="/web-design/wordpress" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Wordpress Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-estem.webp' alt='Gold Coast web design for Esteem Clinics providing UX and conversion rate improvements within only weeks. We are experts at optimisation and migration of Wordpress websites. Offering fair prices on Wordpress Website Design and fast turn around. Basic graphic design package included FREE.'>
        </div>
        
        <div class="carousel-cell">
          <!-- img_08 -->
          <a href="/digital-marketing/seo" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Search Engine Optimisation
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-cpc-results.webp' alt='Gold Coast SEO experts. Search Engine Optimisation for websites and reducing digital marketing ad spend. Reduce your marketing spend through web design improvements and digital marketing strategy improvements. Experts at developing on-brand and niche marketing strategies.'>
        </div>
        
        <div class="carousel-cell">
          <!-- img_09 -->
          <a href="/web-design/velocity" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Velocity Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-golden.webp' alt='Gold Coast web design for trades companies. Get a website for your tradesman business faster with Aidxn Design. Our Velocity website theme is perfect for helping tradies generate more leads from their website straight away with perfect SEO scores, perfect pageload scores, and included graphic design work. Website design at a low price on the Gold Coast with an in-person service.'>
        </div>

        <div class="carousel-cell">
          <!-- img_10 -->
          <a href="/digital-marketing/video-ads" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Video Ads
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/video-musicians.webp' alt='Gold Coast videography and website design experts. Get videos for your website and marketing while also improving your websites design. If your website doesnt have any video content to display, allow us to produce, film and edit a highly professional video ad. Exported in a range of ratios and lengths for use in different scenarios. Video ad production on the Gold Coast.'>
        </div>

        <!-- img_11 -->
        <div class="carousel-cell">
          <a href="/web-design/shopify" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Shopify Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-estemshop.webp' alt='Medical industry Shopify website design with in-person service, on the Gold Coast. Experts at Shopify development and conversion rate improvement. Free included graphic design with all web design and digital marketing packages.'>
        </div>
        
      </div>

      
       <!-- Perfect Slider Velocity8 - data-flickity='{ "cellAlign": "center", "contain": true, "prevNextButtons": false, "autoPlay": 2400, "groupCells": "85%", "resize": true, "lazyLoad": true, "imagesLoaded": true }' -->
      
    </div>
  </div>
</section>

<script is:inline>
window.onload = (event) => {
  var elem = document.querySelector('.main-carousel');
  var flkty = new Flickity( elem, {
    // options
    cellAlign: 'left',
    contain: true,
    prevNextButtons: false,
    imagesLoaded: true,
    adaptiveHeight: true,
    groupCells: '80%'
  });
};
</script>