<style>
  #hero { font-size: 6.5rem; }
</style>
<section class="py-16 lg:py-24">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="gap-8 sm:gap-10">
        
        <div class="w-full gap-4">
          <h1 class="text-xs uppercase font-thin tracking-wide pb-4">
            Australian Business Owner & Entrepreneur
          </h1>
          <h2 id="hero" class="font-medium tracking-tighter md:tracking-tight">
            Bill Rae
          </h2>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base md:text-lg max-w-4xl my-4">
            Creating Australian businesses that uphold the highest standards in service, delivering the best quality products. Owner of Pure Blue Beef. Previous owner of the Brisbane Bombers, RayCorp International and Certified Free Range Beef Australia. Truly Australian made.
          </p>
          
          <a
            href="/all-businesses"
            class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            All Businesses
          </a>
          <a
            href="/contact"
            class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Contact
          </a>
        </div>
      </div>
    </div>  
  </div>
</section>

