<style>
  .carousel-cell {
  width: calc(25% - 15px);
  height: 620px;
  margin-right: 15px;
}
@media screen and (max-width: 2440px) {
  .carousel-cell {
    height: 520px;
  }
}
@media screen and (max-width: 1980px) {
  .carousel-cell {
    width: calc(50% - 7.5px);
  }
}
@media screen and (max-width: 1680px) {
  .carousel-cell {
    height: 420px;
  }
}
@media screen and (max-width: 1480px) {
  .carousel-cell {
    width: calc(33% - 7.5px);
  }
}
@media screen and (max-width: 1280px) {
  .carousel-cell {
    height: 520px;
  }
}
@media screen and (max-width: 1199px) {
  .carousel-cell {
    width: calc(50% - 7.5px);
  }
}
@media screen and (max-width: 980px) {
  .carousel-cell {
    height: 420px;
  }
}
@media screen and (max-width: 868px) {
  .carousel-cell {
    width: calc(75% - 15px);
    max-height: 55vh;
  }
}
@media screen and (max-width: 568px) {
  .carousel-cell {
    width: 100%;
  }
}
</style>

<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


<section class="my-28">
  <div id="contain" class="mx-auto w-full px-4 lg:px-8">
  
    <!-- Perfect Slider Velocity8 - Start -->
    <div id="border" class="">
        
      
      <div id="slider" class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "prevNextButtons": false, "autoPlay": 2400, "groupCells": "85%", "resize": true, "lazyLoad": true, "imagesLoaded": true }'>
        <div class="carousel-cell">
          <!-- img_02 -->
          <a href="/digital-marketing/interactive-ads" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Interactive Ads
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-interactive.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_02 -->
          <a href="/digital-marketing/google-search-management" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Google Ads
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-re-placement.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_04 -->
          <a href="/moonshot-plan" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Marketing Management
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-bus.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_02 -->
          <a href="/web-design/wordpress" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Wordpress Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-drts.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_04 -->
          <a href="/web-design/shopify" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Shopify Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-estemshop.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_05 -->
          <a href="/web-design/wordpress" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Wordpress Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-estem.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_03 -->
          <a href="/web-design/velocity" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Velocity Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-snacks.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_02 -->
          <a href="/digital-marketing/seo" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Search Engine Optimisation
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-cpc-results.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_04 -->
          <a href="/digital-marketing/video-ads" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Video Ads
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/video-musicians.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_05 -->
          <a href="/web-design/velocity" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Velocity Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-boog.webp' alt=''>
        </div>
        <div class="carousel-cell">
          <!-- img_04 -->
          <a href="/web-design/velocity" class="absolute bottom-0 mb-6 lg:mb-8 ml-6 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Velocity Web Design
          </a>
          <img class="object-cover object-top w-full h-full rounded-3xl" src='/works/ax-sqr-golden.webp' alt=''>
        </div>
      </div>

      
       <!-- Perfect Slider Velocity8 - data-flickity='{ "cellAlign": "center", "contain": true, "prevNextButtons": false, "autoPlay": 2400, "groupCells": "85%", "resize": true, "lazyLoad": true, "imagesLoaded": true }' -->
      
    </div>
  </div>
</section>
