
<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<!-- Velocity8 Large Slider Settings -->
<style>

  .carousel-cell {
    margin-right: 32px;
    width: calc(33% - 16px);
    max-height: 50vh;
  }
  @media only screen and (max-width: 1440px) {
    .carousel-cell {
      width: calc(60% - 16px);
      margin-right: 16px;
    }
  }
  @media only screen and (max-width: 768px) {
    .carousel-cell {
      width: calc(90% - 16px);
    }
  }
  @media only screen and (max-width: 468px) {
    .carousel-cell {
      width: 100%;
    }
  }
  
  .flickity-viewport {
    transition: 0.2s;
  }
</style>


<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


<section class="pt-8 md:pt-16 pb-8 md:pb-16 lg:pb-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:px-8">



      <div class="carousel" data-flickity='{ "contain": true, "freeScroll": true,  "prevNextButtons": false, "imagesLoaded": true, "autoPlay": 1800, "pauseAutoPlayOnHover": false }'>
        
        <div 
          class="carousel-cell rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/hero-estem.webp); background-position: center;">
        </div>

        <div 
          class="carousel-cell rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/br-mac-render-med.webp); background-position: center;">
        </div>

        <div 
          class="carousel-cell rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/cube-3d.webp); background-position: center;">
        </div>

        <div 
          class="carousel-cell size-vertical rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/gwd-interactive-ads.webp); background-position: center;">
        </div>

        <div 
          class="carousel-cell rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/cpc-results.webp); background-position: center;">
        </div>

        <div 
          class="carousel-cell rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/tbc-render.webp); background-position: center;">
        </div>

        <div 
          class="carousel-cell rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/hero-snacks.webp); background-position: center;">
        </div>

        <div 
          class="carousel-cell size-vertical rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/billboard-design.webp); background-position: center;">
        </div>

        <div 
          class="carousel-cell rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/br-bill-render.webp); background-position: center;">
        </div>

        <div
          class="carousel-cell size-vertical rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/app-design.webp); background-position: center;">
        </div>
        
        <div 
          class="carousel-cell size-vertical rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/br-fb.webp); background-position: center;">
        </div>
        
        <div class="carousel-cell"> <!-- Final Cell Needs this format with H-full -->
          <img
            class="rounded-3xl h-full"
            width="1280"
            height="640"
            src="/works/web-design.webp"
            alt="Gold Coast web design with Aidxn Design - best results guarenteed"
          />
        </div>

      </div>
    </div>  
  </div>
</section>
