

<section class="my-32 lg:my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:px-8">

    <!-- Perfect Gallery Tailwind Velocity8 - Start -->
    <div class="flex flex-col md:flex-row relative">
        
      <div class="flex flex-1">
          <div class="grid grid-cols-1 xs:grid-cols-2 xl:grid-cols-4 gap-2 xs:gap-4">
            <div>
              <!-- img_01 -->
              <img src='/works/web-design.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
            <div>
              <!-- img_02 -->
              <img src='/works/cube-3d.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>

            <div>
              <!-- img_03 -->
              <img src='/works/billboard-design.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
            <div>
              <!-- img_04 -->
              <img src='/works/app-design.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
          </div>

      </div>
      <!-- Perfect Gallery Tailwind Velocity8 - End -->
    </div>  
  </div>
</section>

