---
const stats = [
  {
    name: 'Years',
    value: '10',
  },
  {
    name: 'Projects',
    value: '120+',
  },
  {
    name: 'Awards',
    value: "4",
  },
  {
    name: 'Expert',
    value: '1',
  },
];
---


<section class="py-16 sm:py-20">
  <div class="mx-auto w-full px-4 sm:px-6 lg:max-w-7xl lg:px-8 flex">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <div class="flex flex-col justify-center">
        
        <div class="flex flex-col justify-center items-center gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12">
            <div class="space-y-6">
              <h3 class="text-xl sm:text-2xl font-medium tracking-tight">Complete Marketing Management</h3>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base md:text-lg">
                I get that most digital marketing agencies are full of crap, that's why I'm back freelancing. 
                With a single point of contact and reliablility, your marketing results can be held accountable. 
                Adding the pressure of no lock in contacts, means we need to perform with month-on-month results.
              </p>
            </div>
          </div>

         

      </div>
    </div>
    <div class="w-full flex justify-center gap-y-8">
      <img
        class="mx-auto h-auto w-full rounded-3xl"
        width="2160"
        src="/works/gwd-interactive-ads.webp"
        alt="Top rated Gold Coast website designers - web design at competitive rates."
      />
      
    </div>
  </div>
</section>
