
<section class="py-16 sm:py-20">
  <div class="mx-auto w-full px-4 sm:px-6 lg:max-w-7xl lg:px-8 flex">
    <div class="grid lg:grid-cols-2 gap-8 lg:gap-12">
      <div class="flex flex-col justify-center">
        
        <div class="flex flex-col justify-center items-center gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12">
            <div class="space-y-6">
              <h3 class="text-2xl sm:text-3xl font-medium tracking-tight">Marketing for small businesses.</h3>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base md:text-lg">
                One of our most unique strategies is designing and developing interactive ads that allow customers to view more information on your product or service without costing an ad click. This massively extends daily budgets allowing smaller businesses to enter more competitive industry leading websites. Check out our case study on how we created spectacular results with a miniscule budget, through highly intuative marketing design specific to our clients niche.
              </p>
            </div>
          </div>         

      </div>
    </div>
    <div class="w-full flex justify-center gap-y-8">
      <!-- Perfect Gallery Tailwind Velocity8 - Start -->
      <div class="flex flex-col md:flex-row relative">
          
        <div class="flex flex-1">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 md:gap-4 lg:gap-8">
              <div>
                <!-- img_01 -->
                <img src='/works/gwd-interactive-ads.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
              </div>
              <div>
                <!-- img_02 -->
                <img src='/works/re-placement.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
              </div>
            </div>
        </div>

      </div>
      <!-- Perfect Gallery Tailwind Velocity8 - End -->
    </div>
  </div>
</section>
