---
const stats = [
  {
    name: 'Expert',
    value: '1',
  },
  {
    name: 'Years',
    value: '10',
  },
  {
    name: 'Projects',
    value: '120+',
  },
  {
    name: 'Awards',
    value: '3',
  },
];
---


<section class="my-32 lg:my-28">
  <div class="mx-auto w-full px-4 sm:px-6 lg:max-w-7xl lg:px-8 flex justify-center items-center">
    <div class="grid lg:grid-cols-2 gap-8 lg:gap-12">
      <div class="flex flex-col justify-center">
        
        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12">
            <div class="space-y-6">
              <h3 class="text-2xl sm:text-3xl font-medium tracking-tight leading-8">Expertise in your corner.</h3>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg pb-6">
                My main goal is to provide genuinely reliable website design and marketing management services, a far cry from what digital agencies are providing these days. 
                All-inclusive, in-person service that makes building a brand a whole lot less stressful.
              </p>
              <a
                  href="/web-design"
                  class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                >
                  Web Design
              </a>
              <a
                  href="/brand-strategy"
                  class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                >
                  Brand Strategy
              </a>
            </div>
          </div>

      </div>
    </div>
    <div class="w-full flex flex-col justify-center gap-y-8">

      <dl class="grid gap-6 grid-cols-2 my-8 lg:my-12">
        {
          stats.map((stat) => (
            <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
              <dt class="text-base">{stat.name}</dt>
              <dd class="text-2xl md:text-3xl font-medium tracking-tight">{stat.value}</dd>
            </div>
          ))
        }
      </dl>
      
    </div>
  </div>
</section>
