<section class="my-32 lg:my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="grid lg:grid-cols-3 gap-6">
      <h4 class="text-xl sm:text-2xl font-medium tracking-tight">E-commerce web design</h4>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2 px-4">
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base xs:text-lg max-w-4xl">
          If you're an e-commerce business, we can help you improve your bottom line by making optimisations across the board. 
          Depending on your niche, we can offer the best framework from Shopify, Wordpress or Velocity.
        </p>
        <div class="flex-col md:flex-row gap-4">
          
          <a
            href="/web-design/shopify"
            class="mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            More info
          </a>
    
        </div>
      </div>
    </div>
  </div>
</section>
