
<section class="my-32 lg:my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-center gap-8 sm:gap-10">
        
        <div class="w-full gap-4">
          <h3 class="text-xs uppercase font-thin tracking-widest">
            Refreshing web design service
          </h3>
          <h2 class="text-3xl sm:text-4xl font-medium tracking-tight my-6">
            All-inclusive web design.
          </h2>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg xs:text-xl max-w-6xl">
            Climb to the top of your most-valuable keywords fast. 
            Focused on generatating more leads for your business.
            Web design service that won't cost a dime with plenty of free inclusions.
            Making sure your website generates serious results.
          </p>
          
          
          <div class="mt-8">
            <a
              href="/web-design"
              class="mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Web Design
            </a>
            <a
              href="/brand-strategy"
              class="mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Brand Strategy
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
