
<section class="mb-2 pt-8 md:pt-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-center gap-8 sm:gap-10">
        
        <div class="w-full gap-4">
          <h2 class="text-xs uppercase font-thin tracking-widest pb-4">
            Marketing Management and Brand Development
          </h2>
          <h3 class="text-3xl sm:text-4xl font-medium tracking-tight">
            Effective marketing management for all platforms.
          </h3>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg my-4">
            We offer services covering all forms of brand design and identity development. Graphic design and marketing management. 
            Ad creatives designed with by real marketing experts. Improving click-through-rates on ad designs through subtle marketing design tricks. 
            Offering both one-off services and our complete marketing management solution. 
          </p>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg my-4">
            Complete campaign strategy, design and management with our Moonshot Plan. Managing ads across Google Search & Display, Facebook & Instagram. 
            Design for print and physical marketing mediums. SEO optimisation and web design improvements for reducing ad spend and improving conversion rates.
            Brand and marketing management that moves fast. Improving month-on-month. <b class="tracking-wide">Pause anytime</b>.
          </p>
          <div class="mt-8">
            <a
              href="/digital-marketing"
              class="mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Digital Marketing
            </a>
            <a
              href="/Brand Strategy"
              class="mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Brand Strategy
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
