
<section class="my-32 lg:my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-center gap-8 sm:gap-10">
        
        <div class="w-full gap-4">
          <h2 class="text-xs uppercase font-thin tracking-widest">
            Marketing for all platforms
          </h2>
          <h3 class="text-3xl sm:text-4xl font-medium tracking-tight my-6">
            Marketing management.
          </h3>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg xs:text-xl max-w-6xl">
            Creatives designed with by marketing experts that understand your business and customer.
            On-going complete website and marketing management with our Moonshot Plan. 
            Month-on-month improvement or <b class="tracking-wide">pause anytime</b>.
          </p>
          
          <div class="mt-8">
            <a
              href="/digital-marketing"
              class="mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Digital Marketing
            </a>
            
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
