
<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-center gap-8 sm:gap-10">
        
        <div class="w-full gap-4">
          <h2 class="text-xs uppercase font-thin tracking-widest pb-4">
            International Precision Logistics Operations
          </h2>
          <h3 class="text-3xl sm:text-4xl font-medium tracking-tight ">
            RayCorp International
          </h3>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg  max-w-4xl my-4">
            Restocking government and business ships while docking in ports around the world with extreme timing precision 
            creating minimal delays for leaving port at all times. RayCorp International was started by Bill Rae in 1997.
          </p>
          
          <div class="mt-8">
            <a
              href="/raycorp-international"
              class="mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              More info
            </a>
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
