
<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-center gap-8 sm:gap-10">
        
        <div class="w-full gap-4">
          <h2 class="text-xs uppercase font-thin tracking-widest pb-4">
            Brisbane NRL Team Proposal
          </h2>
          <h3 class="text-3xl sm:text-4xl font-medium tracking-tight">
            Brisbane Bombers
          </h3>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg max-w-4xl my-4">
            A proposal to the NRL commity for a second Brisbane team, the Bribane Bombers. 
            Highly supported by the NRL, the team was almost a reality. Unfortunately timing 
            and unforseen factors led to the proposal being scraped in 2016.
          </p>
          
          <div class="mt-8">
            <a
              href="/brisbane-bombers"
              class="mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              More info
            </a>
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
