
<section class="my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">

    <!-- Perfect Gallery Tailwind Velocity8 - Start -->
    <div class="flex flex-col md:flex-row relative">
        
      <div class="flex flex-1">
          <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
            <div>
              <!-- img_02 -->
              <img src='/works/ax-sqr-billboard.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
            <div>
              <!-- img_05 -->
              <img src='/works/ax-sqr-cpc-results.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
            <div>
              <!-- img_03 -->
              <img src='/works/ax-sqr-bus.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
            
            <div>
              <!-- img_05 -->
              <img src='/works/ax-sqr-re-placement.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
            <div>
              <!-- img_04 -->
              <img src='/works/ax-sqr-interactive.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
            <div>
              <!-- img_04 -->
              <img src='/works/ax-sqr-wth.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
            
          </div>

      </div>
      <!-- Perfect Gallery Tailwind Velocity8 - End -->
      
  </div>
</section>


