
<section class="my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">

    <!-- Perfect Gallery Tailwind Velocity8 - Start -->
    <div class="flex flex-col md:flex-row relative">
        
      <div class="flex flex-1">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            
            <div>
              <!-- img_04 -->
              <img src='/works/billboard-design.webp' class="object-cover w-full h-full rounded-3xl" alt='Billboard marketing design and brand design for a Gold Coast business. Improve your marketing results with a true expert in marketing design and complete marketing campaign design.'>
            </div>
            <div>
              <!-- img_02 -->
              <img src='/works/e-comm-results.webp' class="object-cover w-full h-full rounded-3xl" alt='Improving website traffic through SEO and performance improvements. Get more people on your website daily. Website traffic improvement without digital marketing. Completely free, organic digital marketing campaigns.'>
            </div>
            
          </div>

      </div>
      <!-- Perfect Gallery Tailwind Velocity8 - End -->
      
  </div>
</section>


