
<section class="my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="w-full gap-4">
      <h2 class="text-base uppercase font-thin tracking-widest">
        Complete marketing management for brands
      </h2>
      <h3 class="text-3xl sm:text-4xl font-medium tracking-tight my-6">
        Digital Marketing Management
      </h3>
      <p class="text-primary-950/80 dark:text-primary-200/80 text-lg xs:text-xl max-w-4xl">
        Campaign design that convert well across all advertising mediums. 
        Intensive website and digital marketing optimisation with our Moonshot Plan. Pause anytime. 
      </p>
      
      <div class="mb-8">
        <a
          href="/digital-marketing"
          class="mt-8 mr-2 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Marketing
        </a>
        <a
          href="/moonshot-plan"
          class="mt-8 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Moonshot Plan
        </a>
        
      </div>
    </div>      
  </div>
</section>
