---
const services = [
  {
    step: '01',
    name: 'Branding',
    img: '/works/ax-logo-design.webp',
    alt: 'Brand Strategy and Graphic Design on the Gold Coast',
    description:
      'From logos and graphics, target market and voice, branded textures. Designed for print and digital.',
    link: '/graphic-design',
  },
  {
    step: '02',
    name: 'Web Design',
    img: '/works/ax-logo-develop.webp',
    alt: 'Web Design with Shopify, Wordpress and Velocity',
    description:
      'Trust over 10 years of web design experience to design the best web experience for your customer.',
    link: '/web-design',
  },
  {
    step: '03',
    name: 'Marketing',
    img: '/works/ax-logo-market.webp',
    alt: 'Digital marketing services and marketing management',
    description:
      'Digital marketing for all platforms. SEO, funnel optimisations and ad creative designs by an expert.',
    link: '/digital-marketing',
  },
  {
    step: '04',
    name: 'Moonshot',
    img: '/works/ax-logo-moonshot.webp',
    alt: 'Complete website and digital marketing management on the Gold Coast',
    description:
      'Our complete website and marketing management plan. Everything I offer in one, pause anytime.',
    link: '/moonshot-plan',
  },
];
---
<style>
  #contain { max-width: 1920px; }
</style>

<section class="my-28">
  <div id="contain" class="mx-auto px-4 sm:px-6 w-full lg:px-8">
    
    <div class="grid gap-4 grid-cols-2 sm:grid-cols-4">
      {
        services.map((service) => (
        <a rel="canonical" href={service.link}>  
          <div class="border-primary-900/10 dark:border-primary-300/10 hover:bg-primary-900/10 hover:dark:bg-primary-300/10 duration-200 rounded-3xl border px-2 sm:px-4 py-6 h-full flex flex-row items-center justify-center">
            <div class="lg:mr-8 w-20 lg:w-24">
              <img
                class=""
                width="640"
                height="640"
                src={service.img}
                alt={service.alt}
              />
            </div>
            <h4 class="text-lg xl:text-xl font-medium hidden lg:block">{service.name}</h4>
          </div>
        </a>
        ))
      }
    </div>
  </div>
</section>
