<style>
  #contain { max-width: 1920px; }
</style>

<section class="mt-16 mb-28">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col gap-4">
      <div class="">
        <div class="w-full text-center">
          <h4 class="text-base lg:text-lg uppercase font-thin tracking-widest">
            Clients
          </h4>
        </div>
      </div>
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-6 gap-6">
        <img
        class="w-full h-32 sm:h-28 md:h-24"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/ray-white-greyed.svg' : '/logos/ray-white.svg'"
        alt="Real Estate Website Design and Digital Marketing management for real estate agents. In-person web design for the real estate industry, directly on the Gold Coast by Aidxn Design for Ray White."
        />
        
        <img
        class="w-full h-32 sm:h-28 md:h-24"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/ball-realty-greyed.svg' : '/logos/ball-realty.svg'"
        alt="Real Estate Website Design and Digital Marketing management for real estate agencies. Daily monitoring of SEO and digital marketing campaigns, plus website bug fixes and website management for the real estate industry by Aidxn Design for Ball Realty."
        />
      
        <img
        class="w-full h-32 sm:h-28 md:h-24"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/nwfunding-logo-greyed.svg' : '/logos/nw-funding.svg'"
        alt="Finacial Lending Web design directly on the Gold Coast. Consulting and website design for the financial lender industry."
        />

        <img
        class="w-full h-32 sm:h-28 md:h-24"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/esteem-greyed.svg' : '/logos/estem.svg'"
        alt="Medical business Web design on the Gold Coast. Specific branding made for the Australian health clinic insdustry by Aidxn Design for Estem Clincs."
        />
        
        <img
        class="w-full h-32 sm:h-28 md:h-24"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/boogie-collective.svg' : '/logos/boogie-collective.svg'"
        alt="Web design for events industry businesses by Aidxn Design."
        />
        
        <img
        class="w-full h-32 sm:h-28 md:h-24"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/snacks-greyed.svg' : '/logos/snacks.svg'"
        alt="Web design for photographers by Aidxn Design"
        />
      
        <img
        class="w-full h-32 sm:h-28 md:h-24"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/academy.svg' : '/logos/academy.svg'"
        alt="Web design for online courses by Aidxn Design."
        />
        
        <img
        class="w-full h-32 sm:h-28 md:h-24"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/cobra-club.svg' : '/logos/cobra-club.svg'"
        alt="Web design for local clubs and sports teams by Aidxn Design"
        />
        
        <img
        class="w-full h-32 sm:h-28 md:h-24"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/tsd.svg' : '/logos/tsd.svg'"
        alt="Gold Coast Web design for doctors by Aidxn design."
        />

        <img
        class="w-full h-32 sm:h-28 md:h-24"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/brie-logo-greyed.svg' : '/logos/brie-hair.svg'"
        alt="Gold Coast Web design for hair dressers by Aidxn design."
        />

        <img
        class="w-full h-32 sm:h-28 md:h-24"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/immersive-structures-logo-greyed.svg' : '/logos/immersive-structures.svg'"
        alt="Gold Coast Web design for events companies and tradesmen by Aidxn design."
        />

        <img
        class="w-full h-32 sm:h-28 md:h-24"
        width="1280"
        height="640"
        :src="$store.theme.isDark ? '/logos/social-dandelion-greyed.svg' : '/logos/social-dandelion.svg'"
        alt="Gold Coast Web design for agencies by Aidxn design."
        />
      </div>
      
    </div>
  </div>
</section>
