
<section class="py-8">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    
      <div class="grid grid-cols-2 grid-rows-2 gap-8 lg:gap-12">
        
        <div class="col-span-1 max-h-96">
          <img
            class="rounded-3xl"
            width="1280"
            height="640"
            src="/works/br-bus.webp"
            alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
            />
        </div>

        <div class="col-span-1 max-h-96">
          <img
            class="rounded-3xl"
            width="1280"
            height="640"
            src="/works/br-bill.webp"
            alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
            />
        </div>

        <div class="col-span-1 max-h-96">
          <img
            class="rounded-3xl"
            width="1280"
            height="640"
            src="/works/br-re.webp"
            alt="Web design and digital marketing on the Gold Coast by Aidxn Design - login website design for client"
            />
        </div>

        
        <div id="galleryDiv" class="col-span-1 max-h-56 lg:max-h-72 rounded-3xl" style="background-image:url('/works/br-wth.webp');">
          
        </div>
        
      </div>
      
  </div>
</section>


