

<section class="py-8">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    
      <div class="grid grid-cols-2 gap-4">
        <div 
          class="carousel-cell size-vertical rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/hero-tsd.webp); background-position: center;">
        </div>

        <div
          class="carousel-cell size-vertical rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/velocity-tsd.webp); background-position: center;">
        </div>

        <div 
          class="carousel-cell size-vertical rounded-3xl bg-cover h-full" 
          style="background-image: url(/works/hero-estem.webp); background-position: center;">
        </div>
        
        <div class="carousel-cell">
          <img
            class="h-full w-full rounded-3xl"
            width="1280"
            height="640"
            src="/works/hero-snacks.webp"
            alt="Gold Coast web design with Aidxn Design - best results guarenteed"
          />
        </div>
        
      </div>
      
  </div>
</section>

