

<section class="py-8">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    
    <div class="grid grid-cols-2 grid-rows-2 gap-8 lg:gap-12">

      <div id="galleryDiv" style="background-image:url('/works/hero-tsd.webp');" class="col-span-1 max-h-56 lg:max-h-96 rounded-3xl bg-cover"></div>
        
      <div id="galleryDiv" style="background-image:url('/works/hero-estem.webp');" class="col-span-1 max-h-56 lg:max-h-96 rounded-3xl bg-cover"></div>
      
      <div id="galleryDiv" style="background-image:url('/works/hero-snacks.webp');" class="col-span-1 max-h-56 lg:max-h-96 rounded-3xl bg-cover"></div>
      
      <div id="galleryDiv" style="background-image:url('/works/website-mock-ups.webp');" class="col-span-1 max-h-56 lg:max-h-96 rounded-3xl bg-cover"></div>
      
    </div>
      
  </div>
</section>

