<style>
  /* transition height change */
  .flickity-viewport {
    transition: height 0.2s;
  }
  .carousel-cell {
  width: calc(50% - 15px);
  height: 800px;
  margin-right: 15px;
}
@media screen and (max-width: 1980px) {
  .carousel-cell {
    height: 650px;
  }
}
@media screen and (max-width: 1680px) {
  .carousel-cell {
    height: 550px;
  }
}
@media screen and (max-width: 1280px) {
  .carousel-cell {
    height: 480px;
    width: calc(85% - 7.5px);
  }
}
@media screen and (max-width: 980px) {
  .carousel-cell {
    height: 420px;
  }
}
@media screen and (max-width: 768px) {
  .carousel-cell {
    max-height: 80vh;
    width: 100%;
    height: 520px;
  }
}
@media screen and (max-width: 568px) {
  .carousel-cell {
    height: 600px;
  }
}

#contain { max-width: 1920px; }

</style>

<section class="my-28 pb-12">
  <div id="contain" class="mx-auto w-full">
  
    <!-- Perfect Slider Velocity8 - Start -->
    <div id="border" class="">
        
      
      <div id="slider" class="market-carousel px-4 sm:px-6 lg:px-8" data-flickity='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "pageDots": false, "autoPlay": 2400, "groupCells": "85%", "lazyLoad": true, "imagesLoaded": true, "adaptiveHeight": true, "wrapAround": true }'>

        <!-- img_02 -->
        <div class="carousel-cell">
          <a href="/digital-marketing/interactive-ads" class="absolute bottom-0 mb-6 ml-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Interactive Ads
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-interactive.webp' alt='Interactive Ad Design for Google Display Campaigns. Display your ads on popular websites with Google Display. Daily optimisation by Google Dispaly experts with CPM based marketing campaigns for PPC marketing. Improve your marketing results with Google Display campaigns managed by Aidxn Design on the Gold Coast.'>
        </div>

        <!-- img_04 -->
        <div class="carousel-cell">
          <a href="/digital-marketing/google-search-management" class="absolute bottom-0 mb-6 ml-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Google Search Ads
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-cpc-results.webp' alt=''>
        </div>

        <!-- img_06 -->
        <div class="carousel-cell">
          <a href="/moonshot-plan" class="absolute bottom-0 mb-6 ml-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Marketing Management
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-bus.webp' alt='Marketing management on the Gold Coast for both physical marketing and digital marketing. Expert marketing improvement with over 10 years experience managing marketing campaigns and over $8 million in managed marketing spend. Get your business on billboards, buses, businesses and sponsorships on the Gold Coast.'>
        </div>
        
        <div class="carousel-cell">
          <!-- img_08 -->
          <a href="/digital-marketing/seo" class="absolute bottom-0 mb-6 ml-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Search Engine Optimisation
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/ax-sqr-cpc-results.webp' alt='Gold Coast SEO experts. Search Engine Optimisation for websites and reducing digital marketing ad spend. Reduce your marketing spend through web design improvements and digital marketing strategy improvements. Experts at developing on-brand and niche marketing strategies.'>
        </div>

        <div class="carousel-cell">
          <!-- img_10 -->
          <a href="/digital-marketing/video-ads" class="absolute bottom-0 mb-6 ml-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            Video Ads
          </a>
          <img class="object-cover object-center w-full h-full rounded-3xl" src='/works/video-musicians.webp' alt='Gold Coast videography and website design experts. Get videos for your website and marketing while also improving your websites design. If your website doesnt have any video content to display, allow us to produce, film and edit a highly professional video ad. Exported in a range of ratios and lengths for use in different scenarios. Video ad production on the Gold Coast.'>
        </div>
        
      </div>
      
    </div>
  </div>
</section>