<section class="my-8"> <!-- Velocity 9 - File to Copy from for 2:5 Cards and Blog Post Links -->
  <div class="mx-auto w-full px-4 md:px-6 lg:px-8">
    <div class="w-full flex flex-col justify-center">

      <dl class="grid">
        <div class="border-primary-900/10 dark:border-primary-300/10 hover:bg-primary-900/10 hover:dark:bg-primary-300/10 duration-200 rounded-3xl border px-4 md:px-6 py-8 flex flex-col justify-center gap-4">
          

          <dt class="text-xs uppercase font-thin tracking-widest"><slot name="smltitle">Category</slot></dt>

          <dd class="text-lg xs:text-xl lg:text-2xl font-medium"><slot name="title">Title</slot></dd>

          <p class="text-primary-950/70 dark:text-primary-200/70 text-base xs:text-lg lg:text-xl leading-6">
            <slot name="desc">desc desc</slot>
          </p>


        </div>    
      </dl>

    </div>
  </div>
</section>
