
<section class="my-32 lg:my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:px-8">
    <div class="w-full flex-col md:flex-row flex gap-16">
      <div class="w-full md:w-2/5 flex flex-col items-center justify-center gap-8 sm:gap-12">
        
        <div class="w-full flex flex-col items-start md:items-end max-w-5xl gap-4">
          <h1 class="font-thin pb-4 text-xs tracking-widest uppercase">
            <slot name="category">Aidxn Design</slot>
          </h1>
          <h2 class="font-medium lg:text-5xl md:tracking-tight text-3xl tracking-tighter xl:text-6xl xs:text-4xl">
            <slot name="title">Title</slot>
          </h2>
          
          <a
            href="/blog"
            class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Back to Blog
          </a>
        
        </div>
      </div>
      <div class="w-full md:w-2/5 p-4">
        <slot id="glass-card-dark" class="bg-grey-700 w-full h-full my-4" name="cover"></slot>
      </div>
    </div> 
    <div class="mx-auto px-4 sm:px-6 w-full max-w-4xl lg:px-8">
      
      <h3 class="text-xl lg:text-2xl pt-16 my-4 text-primary-950 dark:text-primary-100">
        <slot name="smlTitle">Sub Titles</slot>
      </h3>
      <p class="text-sm lg:text-lg my-4 text-primary-800 dark:text-primary-200">
        <slot name="content">Some description goes here</slot>
      </p>
    </div>
  </div>

  
</section>
