<style>
  #contain { max-width: 1980px !important; }
</style>
<div id="contain" class="flex flex-col-reverse lg:flex-row justify-center items-center mx-auto">
  <div id="leftContainer" class="w-full lg:w-2/3 xl:w-1/2 px-4 sm:px-6 my-24 pb-12 lg:px-8">
    <h5 class="font-thin pb-4 text-xs tracking-widest uppercase">
      <slot name="smltitle">Aidxn Design</slot>
    </h5>
    <h4 class="text-3xl sm:text-4xl font-medium tracking-tight">
      <slot name="title">Title</slot>
    </h4>
    <p class="text-base xs:text-lg dark:text-primary-200/70 text-primary-950/70 leading-6 max-w-3xl mt-4 lg:mr-4">
      <slot name="desc">Some description goes here</slot>
    </p>
  </div>
  <div id="glass-card-dark" class="w-full lg:w-1/3 xl:w-1/2 bg-contain">
    <slot name="cover"></slot>
  </div>
</div>
