---
export interface Props {

backgroundUrl: string
backgroundUrl2: string
backgroundUrl3: string
}

const {backgroundUrl, backgroundUrl2, backgroundUrl3} = Astro.props
---   

<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<style define:vars={{ backgroundUrl,  backgroundUrl2, backgroundUrl3 }}>

.header-carousel {
  border: 1px black;
  height: 1200px;
  max-width: 100vw;
  max-height: calc(100vh - 80px);
  
}

@media only screen and (max-width: 768px) {
  .header-carousel {
    height: 900px;
    max-height: calc(100vh - 65px);
  }
}

.carousel-container {
  max-width: 1920px;
}

.carousel-cell {
  border: 1px black;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cell-1 {
  background-image: var(--backgroundUrl);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cell-2 {
  background-image: var(--backgroundUrl2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cell-3 {
  background-image: var(--backgroundUrl3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

</style>



<section class="">
  <div class="limit-container">
    <div class="header-carousel" data-flickity='{ "lazyLoad": true, "contain": true, "pageDots": false, "autoPlay": 3200, "pauseAutoPlayOnHover": false, "imagesLoaded": true, "prevNextButtons": false, "wrapAround": true, "adaptiveHeight": true }'>
      
      <div class="carousel-cell cell-1 px-4 sm:px-6 lg:px-8 py-8">
        <div class="carousel-container h-full w-full m-auto">
          <div class="carousel-inner flex flex-col  bg-primary-900/60 rounded-2xl backdrop-blur-xl max-w-4xl gap-4 sm:gap-6 px-4 sm:px-6 lg:px-8 py-8 sm:py-12 text-white">
            <h1 class="text-base uppercase font-thin tracking-widest">
              <slot name="smltitle">Small Title</slot>
            </h1>
            <h2 class="font-medium tracking-tighter md:tracking-tight text-4xl md:text-5xl">
              <slot name="title">Title</slot>
            </h2>
            <p class="text-lg xs:text-xl">
              <slot name="desc">Desc</slot>
            </p>
            <div class="pt-2 flex gap-6">
              <a href="/enquire" class="text-lg text-white dark:text-white bg-primary-700 hover:bg-primary-400 items-center inline-flex font-medium justify-center rounded-full transition px-6 py-4 mr-2">Enquire</a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-cell cell-2 px-4 sm:px-6 lg:px-8 py-8">
        <div class="carousel-container h-full w-full m-auto">
          <div class="carousel-inner flex flex-col  bg-primary-900/60 rounded-2xl backdrop-blur-xl max-w-4xl gap-4 sm:gap-6 px-4 sm:px-6 lg:px-8 py-8 sm:py-12 text-white">
            <h2 class="text-base uppercase font-thin tracking-widest">
              <slot name="smltitle2">Small Title</slot>
            </h2>
            <h3 class="font-medium tracking-tighter md:tracking-tight text-4xl md:text-5xl">
              <slot name="title2">Title</slot>
            </h3>
            <p class="text-lg xs:text-xl">
              <slot name="desc2">Desc</slot>
            </p>
            <div class="pt-2 flex gap-6">
              <a href="/enquire" class="text-lg text-white dark:text-white bg-primary-700 hover:bg-primary-400 items-center inline-flex font-medium justify-center rounded-full transition px-6 py-4 mr-2">Enquire</a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-cell cell-3 px-4 sm:px-6 lg:px-8 py-8">
        <div class="carousel-container h-full w-full m-auto">
          <div class="carousel-inner flex flex-col  bg-primary-900/60 rounded-2xl backdrop-blur-xl max-w-4xl gap-4 sm:gap-6 px-4 sm:px-6 lg:px-8 py-8 sm:py-12 text-white">
            <h2 class="text-base uppercase font-thin tracking-widest">
              <slot name="smltitle3">Small Title</slot>
            </h2>
            <h3 class="font-medium tracking-tighter md:tracking-tight text-4xl md:text-5xl">
              <slot name="title3">Title</slot>
            </h3>
            <p class="text-lg xs:text-xl">
              <slot name="desc3">Desc</slot>
            </p>
            <div class="pt-2 flex gap-6">
              <a href="/enquire" class="text-lg text-white dark:text-white bg-primary-700 hover:bg-primary-400 items-center inline-flex font-medium justify-center rounded-full transition px-6 py-4 mr-2">Enquire</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
