
<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<!-- Velocity8 Large Slider Settings -->
<style>
  svg{width:100%;height:100%;perspective:50px}circle{stroke:#26003A;stroke-width:8px;fill:none}.equator{stroke:#a600ff;transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
</style>
<style>
  #contain { max-width: 1980px !important; }
</style>
<section class="mt-8 mb-24">
  <div id="contain" class="mx-auto px-4 sm:px-6 lg:px-8 w-full">
    <div class="">
      <div class="flex flex-col lg:flex-row-reverse items-center justify-center gap-8">
        <div class="w-1/2">
          
          <div id="animationWrapper" translate="no" transition:name="meridian">
            <svg viewBox="-500 -500 1000 1000" class="w-full">
              <circle r="450"></circle>
              <circle class="equator" r="450"></circle>
              <circle class="meridian" r="450" style="--start:165deg; --end:180deg"></circle>
              <circle class="meridian" r="450" style="--start:150deg; --end:165deg"></circle>
              <circle class="meridian" r="450" style="--start:135deg; --end:150deg"></circle>
              <circle class="meridian" r="450" style="--start:120deg; --end:135deg"></circle>
              <circle class="meridian" r="450" style="--start:105deg; --end:120deg"></circle>
              <circle class="meridian" r="450" style="--start:90deg; --end:105deg"></circle>
              <circle class="meridian" r="450" style="--start:75deg; --end:90deg"></circle>
              <circle class="meridian" r="450" style="--start:60deg; --end:75deg"></circle>
              <circle class="meridian" r="450" style="--start:45deg; --end:60deg"></circle>
              <circle class="meridian" r="450" style="--start:30deg; --end:45deg"></circle>
              <circle class="meridian" r="450" style="--start:15deg; --end:30deg"></circle>
              <circle class="meridian" r="450" style="--start:0deg; --end:15deg"></circle>
            </svg>
          </div>
          
        </div>
        <div class="w-full lg:w-1/2 flex flex-col items-start justify-center xl:block gap-4">
          <div class="w-full">
            <h1 class="text-xs uppercase font-thin tracking-widest pb-4">
              <slot name="smltitle">Category</slot>
            </h1>
            <h2 class="font-medium tracking-tight text-3xl sm:text-4xl md:text-6xl">
              <slot name="title">Title</slot>
            </h2>
            <p class="text-lg xs:text-xl max-w-6xl my-4">
              <slot name="desc">Some description goes here</slot>
            </p>

            <a
              href="/contact"
              class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Contact
            </a>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
