---
const testimonials = [
  {
    name: 'Tina Ball',
    description: 'Ball Realty',
    image: '/assets/testimonial-3.webp',
    message:
      '“Using Wordpress for a realestate based sales and rental platform seemed like a big ask, but Aidxn Design had no problem creating an awesome website for us that displayed listings and allowed our team to make changes. Dispaly all the information that our customers wanted in an easy to find design. Excellent marketing results followed using interactive ads for Google Display.”',
  },
  {
    name: 'Bianca Rose',
    description: 'The Social Dandelion',
    image: '/assets/testimonial-1.webp',
    message:
      '“We had our agency website built on Velocity to move away from website subscriptions, and were so surprised to have the new website delivered in 14 days and generating our first organic leads within 3 days of launch. Velocity has improved our SEO so much we have heavily reduced our CPC budget and now end each month with more in our pockets.”',
  },
  {
    name: 'Jordan Pavey',
    description: 'Snacks for your Eyes',
    image: '/assets/testimonial-2.webp',
    message:
      '“We have worked with Aidxn Design for the last 3 years and have always been really happy with his work and communication. Moving our photography website to Velocity recently has turned out to be an easy process. We can now display full quality images online without having a slow website. Cannot recommend moving to Velocity enough.”',
  },
  {
    name: 'Maria Gambaro',
    description: 'Esteem',
    image: '/assets/testimonial-3.webp',
    message:
      '“Migrating a 25 year old business website away from Wordpress was a task we had been putting off for years. It had become aparent that it could not wait any longer when our competitors all had much better websites than us. Moving to Velocity was able to take our pageload time from 5.2s to 0.4s while delivering the same large amount of content per page.”',
  },
];
---

<section class="my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:px-8">
    <div class="flex flex-col items-center gap-6">
      <h3 class="mx-auto max-w-xl text-center text-base lg:text-lg uppercase font-thin tracking-widest pb-2">
        Testimonials
      </h3>
      <div
        class="w-full max-w-7xl divide-primary-900/10 dark:divide-primary-300/10 grid lg:grid-cols-2 gap-16 px-4 sm:px-6 lg:px-8"
      >
        {
          testimonials.map((testimonial) => (
            <figure class="mx-auto flex flex-col items-center gap-6 border-primary-900/10 dark:border-primary-300/10 rounded-3xl border px-6 py-8">
              <div class="flex flex-row gap-2">
                {[...Array(5)].map(() => (
                  <svg
                    class="text-primary-600 dark:text-primary-400 h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
                  </svg>
                ))}
              </div>
              <blockquote class="text-primary-950/70 dark:text-primary-200/70 text-center text-sm md:text-md italic leading-loose">
                <p>{testimonial.message}</p>
              </blockquote>
              <figcaption class="flex flex-col gap-4">
                <img class="mx-auto h-8 w-8 rounded-full" src={testimonial.image} alt="" />
                <div class="text-center">
                  <div class="text-base font-medium">{testimonial.name}</div>
                  <div class="text-primary-950/70 dark:text-primary-200/70 text-base xs:text-lg">
                    {testimonial.description}
                  </div>
                </div>
              </figcaption>
            </figure>
          ))
        }
      </div>
    </div>
  </div>
</section>
