

<section class="my-28">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">

        
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <!-- img_02 -->
          <img class="object-cover w-full h-full rounded-3xl" src='/works/br-mac-render-med.webp' alt='Gold Coast Real Estate Website design and Wordpress website management. Wordpress Website design experts on the Gold Coast with over 10 years experience.'>
        </div>
        <div>
          <!-- img_04 -->
          <img class="object-cover w-full h-full rounded-3xl" src='/works/br-bill-render.webp' alt='Digital marketing management and billboard ad design for Ball Realty. Gold Coast marketing management for the real estate industry with over 10 years experience.'>
        </div>   
      </div>


  </div>
</section>

