---
const stats = [
  {
    name: 'Expert',
    value: '1',
  },
  {
    name: 'Years',
    value: '10',
  },
  {
    name: 'Projects',
    value: '120+',
  },
  {
    name: 'Awards',
    value: '3',
  },
];
---


<section class="my-28">
  <div class="mx-auto w-full px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
    <div class="grid lg:grid-cols-2 gap-8 lg:gap-12">
      <div class="flex flex-col justify-center">
        
        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12">
            <div class="space-y-6">
              <h4 class="text-xs uppercase font-thin tracking-widest">
                Revise your design in-person
              </h4>
              <h3 class="text-3xl sm:text-4xl font-medium tracking-tight my-6">10+ Years Experience in UX, Web Design and Marketing</h3>
              <p class="text-primary-950/80 dark:text-primary-200/80 text-lg xs:text-xl">
                Offering a range of reliable, simplified web design and digital marketing services. 
                Face to face web design revisions to make sure you and your customers love your website.
              </p>
              <a
                  href="/contact"
                  class="mt-6 mr-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                >
                  Contact
              </a>
            </div>
          </div>

      </div>
    </div>
    <div class="w-full">

      <dl class="grid gap-6 grid-cols-2 my-8">
        {
          stats.map((stat) => (
            <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
              <dt class="text-base sm:text-lg">{stat.name}</dt>
              <dd class="text-4xl text-primary-950 dark:text-primary-200 font-medium tracking-tight">{stat.value}</dd>
            </div>
          ))
        }
      </dl>
      
    </div>
  </div>
</section>
