
<section class="my-8 md:my-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">

    <div class="pb-8">
      <div class="w-full gap-4">
        <h3 class="text-3xl font-medium tracking-tight sm:text-4xl">
          Generate and automate leads with your website.
        </h3>
        <p class="text-primary-950/70 dark:text-primary-200/70 text-lg xs:text-xl max-w-6xl my-4">
          We focus on UX-design because it is one of the hidden forces of design that drives sales. 
          Quickly proving to your customers that your brand means quality and increasing conversion rate.
        </p>
      </div>
    </div>

    <!-- Perfect Gallery Tailwind Velocity8 - Start -->
    <div class="flex flex-col md:flex-row relative">
        
      <div class="flex flex-1">
          <div class="grid grid-cols-2 gap-8">
            <div>
              <!-- img_01 -->
              <img src='/works/hero-snacks.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
            <div>
              <!-- img_02 -->
              <img src='/works/hero-estem.webp' class="object-cover w-full h-full rounded-3xl" alt=''>
            </div>
          </div>

      </div>
      <!-- Perfect Gallery Tailwind Velocity8 - End -->
      
  </div>
</section>


