


<section class="max-w-7xl mx-auto my-36">
  <div class="flex flex-col gap-6 px-4 sm:px-6 lg:px-8 my-8">
    <h4 class="font-thin text-base tracking-widest uppercase">
      <slot name="smltitle">Aidxn Design</slot>
    </h4>
    <h3 class="font-medium md:tracking-tight tracking-tighter text-2xl lg:text-3xl">
      <slot name="title">Title</slot>
    </h3>
    <p class="text-base xs:text-lg dark:text-primary-200/70 text-primary-950/70 leading-6 max-w-6xl">
      <slot name="desc">Some description goes here</slot>
    </p>  
    <p class="text-base xs:text-lg dark:text-primary-200/70 text-primary-950/70 leading-6 max-w-6xl">
      <slot name="desc2">Some description goes here</slot>
    </p>        
  </div>
