<section class="max-w-7xl mx-auto my-36">
  
  <div class="flex flex-col gap-6 w-full px-4 sm:px-6 lg:px-8 my-8">
    <h4 class="font-thin text-base tracking-widest uppercase">
      <slot name="smltitle">Aidxn Design</slot>
    </h4>
    <h3 class="font-medium md:tracking-tighttracking-tighter text-2xl lg:text-3xl">
      <slot name="title">Title</slot>
    </h3>
    <p class="text-base xs:text-lg dark:text-primary-200/70 text-primary-950/70 leading-6 max-w-6xl">
      <slot name="desc">Some description goes here</slot>
    </p>        
  </div>

  <!-- Perfect Gallery Tailwind Velocity8 - Start -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 my-8 px-4 sm:px-6 lg:px-8">
          <div class="shadow-md rounded-lg h-fit">
            <!-- img_01 -->
            <slot name="cover"></slot>
          </div>
          <div class="shadow-md rounded-lg h-fit">
            <!-- img_03 -->
            <slot name="cover2"></slot>
          </div>
        </div>
    <!-- Perfect Gallery Tailwind Velocity8 - End -->
</section>